.offer-form{id: "offer-form-#{id}"}
  %h3.offer-title Nouveau cours
  = form_for offer, remote: true do |f|
    = hidden_field_tag :origin, 'become_teacher'
    .fom-group
      = f.label :topic_group_id, 'Type de matière'
      = f.select :topic_group_id, options_for_select(TopicGroup.all.map{|t| [t.title, t.id]}), {}, class:'form-control topic-group-select'
    .form-group
      = f.label :topic_id, 'Sous-catégorie'
      .group_choice_topic
        = f.select :topic_id, {}, {}, class: 'topic-select form-control'
    .form-group.level_choice_levels
    .form-group
      = f.label :description
      = f.text_area :description, class:'form-control', rows: 5
    .actions
      = f.submit :enregistrer

:javascript
  new OffersManager("#{id}")
