.become-teacher-general-infos
  .row
    %h2.page-title-green Choisissez votre photo de profil
    .col-sm-2
    .col-sm-8.text-center
      .alert.alert-info.text-left
        %p Vos élèves sont curieux de vous connaître!
        %p
          En ajoutant une photo de profil de bonne qualité, vous augmentez grandement vos chances d'être contacté par des élèves.
          Nous vous conseillons d'utiliser une photo de vous, en couleur et de bonne qualité.
          L'humour est bienvenu, mais gardez à l'esprit qu'il s'agit de mettre en avant vos compétences pédagogiques, et non oeunologiques
      = form_for(resource, as: resource_name, url: wizard_path, html: { method: :put, class: 'avatar-uploader' }) do |f|
        #avatar_select.field.hidden
          - resource.crop_x=0
          = f.label 'Sélectionnez un fichier'
          = f.file_field :avatar, value: '', :required => true
        .form-group
          = f.hidden_field :crop_x, :id => 'crop_x'
          = f.hidden_field :crop_y, :id => 'crop_y'
          = f.hidden_field :crop_w, :id => 'crop_w'
          = f.hidden_field :crop_h, :id => 'crop_h'

        .avatar-uploaded-view
          %img.avatar-uploaded-view-image
        .avatar-uploaded-preview
          =image_tag('avatar.jpg', class: 'avatar-uploaded-preview-image', width: 200)
        .edit-user-avatar.text-center
          %button.btn.btn-sm.btn-qw.btn-green.browse{type: 'button'}
            parcourir
            %i.fa.fa-folder-open
          = f.submit "Enregistrer", class: 'btn btn-sm btn-qw btn-green'
  .row
    = tutorial_progress_bar

:javascript
  new AvatarUploader()
