#become-teacher
  .become_teacher_finish
    = tutorial_progress_bar
    - unless @user.offers.empty?
      .row
        .col-sm-8.col-sm-offset-2
          .card
            .card-content
              %span.card-title.text-center Félicitations, votre candidature est complète!
              %p Nous sommes convaincus que vous ferez un(e) prof fantastique.
              %hr
              .row
                .col-sm-8.text-left
                  %span.card-title Et maintenant ?
                  %p
                    Vous êtes dans l'<b>incubateur</b> des profs en ligne :)
                  %p
                    Pour être un vrai prof en ligne, il ne vous reste plus qu'à donner votre premier cours!
                    Nous savons que la transition aux cours en ligne peut s'avérer compliquée, c'est pourquoi
                    notre équipe est là pour <b>vous accompagner</b>, jusqu'à votre premier cours.
                  %p
                    Pour vous aider à démarrer, nous avons rédigé un petit
                    #{link_to 'dossier addressé aux nouveaux professeurs', toolbox_url('promouvoir')}.
                  %p
                    Bonne chance!
                  .text-green.pull-right - L'équipe
                .col-sm-4
                  = render :partial => 'recap'
              %hr
              %br
              =link_to("Voir mon profil", '/users/'+current_user.id.to_s, html_options = {class: "btn btn-sm btn-qw btn-green"})
              = link_to("Tableau de bord", dashboard_path, html_options = {class: "btn btn-sm btn-qw btn-green"})
    - else
      %h2.page-title-green.text-center
        Dernière étape
      .row
        .col-sm-2
        .col-sm-8
          .card
            .card-content
              %span.card-title Votre candidature n'est pas encore complète!
              %p
                Si vous souhaitez donner des cours sur Qwerteach, vous devez impérativement renseigner les matières dans lesquelles vous enseignez, ainsi que vos tarifs.
                %br
                Tant que nous n'aurons pas cette information, votre candidatue ne sera pas prise en considération.
                %br
                =link_to 'Ajouter une annonce', become_teacher_path(:offers)
                %br
              %p.text-right
                = link_to "Je ne souhaite pas enseigner, sortez-moi d'ici!", dashboard_path
              %hr

