.become-teacher-general-infos
  .row
    %h2.page-title-green.text-center Informations générales
    .col-sm-2
    .col-sm-8
      .alert.alert-info
        %p Complétez  ici  les  informations  concernant  votre  identité,  votre  formation  et  vos  expériences éventuelles.
      = form_for @user, as: :user, url: wizard_path, method: :put do |f|
        .form-group
          = f.label :firstname
          = f.text_field :firstname, :required => true, class: 'form-control'
        .form-group
          = f.label :lastname
          = f.text_field :lastname, :required => true, class: 'form-control'
        .form-inline
          .form-group
            = f.label :birthdate
            %br
            = f.date_select :birthdate, {}, :required => true, class: 'form-control'
            -#= f.text_field :birthdate, value: @user.birthdate.strftime("%d/%m/%Y"),:required => true, class: 'form-control datepicker'
        .form-group
          = f.label :level_id, "Niveau de formation atteint"
          = f.select :level_id, options_for_select(@levels, selected: @user.level), {}, required: true, class:'form-control'
        .form-group
          = f.label :gender
          = f.select :gender, User::GENDER_TYPES.map{|k| [t(k), k]}, {}, class: 'form-control'
        .form-group
          = f.label :phone_number
          .row
            .col-xs-3
              = f.select :phone_country_code, options_for_select(international_prefix_list, :selected => @user.phone_country_code), {}, :required => true, class:'form-control'
            .col-xs-9
              = f.telephone_field :phone_number, class: 'form-control'
        .form-group
          = f.label :occupation, "Profession / branche d'études"
          = f.text_field :occupation, :required => true, class: 'form-control'
        - @description_questions.each_with_index do |question, index|
          .form-group
            = label_tag "description_#{index}", question
            = text_area_tag "description_#{index}", '', class: 'form-control'
        - if devise_mapping.confirmable? && @user.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{@user.unconfirmed_email}
        .actions
          = f.submit "Mon profil est complet!", class: 'submit action'
  .text-center
    = tutorial_progress_bar