#become-teacher
  .become-teacher-general-infos
    .text-center
      = tutorial_progress_bar
    .row
      .col-sm-8.col-sm-offset-2
        .card
          .card-content
            %span.card-title.text-center
              Informations générales
            %p.text-center Complétez  ici  les  informations  concernant  votre  identite,  votre  formation  et  vos  expériences éventuelles.
            %hr
            = form_for @user, as: :user, url: wizard_path, method: :put, html: {class: 'form-horizontal text-left'} do |f|
              .form-group
                .col-sm-6
                  = f.label :firstname
                  = f.text_field :firstname, :required => true, class: 'form-control'
                .col-sm-6
                  = f.label :lastname
                  = f.text_field :lastname, :required => true, class: 'form-control'
              .form-group
                .col-sm-6.form-inline
                  = f.label :birthdate
                  %br
                  = f.date_select :birthdate, {start_year: 1930, end_year:2020}, :required => true, class: 'form-control'
                .col-sm-6
                  = f.label :level_id, "Niveau de formation atteint"
                  = f.select :level_id, options_for_select(@levels, selected: @user.level), {}, required: true, class: 'form-control'
              .form-group
                .col-sm-6
                  = f.label :gender
                  = f.select :gender, User::GENDER_TYPES.map{|k| [t(k), k]}, {}, class: 'form-control'
                .col-sm-6
                  .row
                    .col-xs-12
                      = f.label :phone_number
                    .col-xs-3
                      = f.select :phone_country_code, options_for_select(international_prefix_list, :selected => @user.phone_country_code), {}, class:'form-control'
                    .col-xs-9
                      = f.telephone_field :phone_number, class: 'form-control'
              .form-group
                .col-xs-6
                  = f.label :occupation, "Profession / branche d'études"
                  = f.text_field :occupation, :required => true, class: 'form-control'
              .form-group
                .col-xs-12
                  = f.label "Vidéo de présentation"
                  %p Si vous avez une vidéo, introduisez ici son URL vidéo.<br />Une vidéo de vous, sur votre profil, augmente vos chances d'être contacté par des élèves!
                  = f.text_field :video_url, class: 'form-control', placeholder: 'URL Youtube'
              %hr
              %br

              - @description_questions.each_with_index do |question, index|
                .form-group
                  .col-sm-12
                    = label_tag "description_#{index}", question
                    = text_area_tag "description_#{index}", '', class: 'form-control', rows: 5
              .actions
                = f.submit "Mon profil est complet!", class: 'submit action'