.section-faq
  .row
    .col-sm-6#general-faq
      =image_tag('comment_ca_marche/bulle.png')
      .text-yellow Visitez notre
      = link_to 'Foire aux questions', faq_path, class: 'text-pink'
    .col-sm-6#questions-faq
      %h4 Sujets fréquents:
      %ul.text-pink
        %li= link_to 'Qui sont les profs ?', faq_path('parents', 'teachers')
        %li= link_to 'Garantie remboursement', faq_path('students', 'paiements')
        %li= link_to 'Protection des données', faq_path('parents', 'lessons')
        %li= link_to 'Modes de payement', faq_path('students', 'paiements')
      = link_to 'Voir plus', faq_path, class: 'text-pink see-more'