.test-become-teacher-maxime
  %nav.main_nav
    .wrap
      .label_logo
        %img{:alt => "QwerTeach", :src => "https://qwerteach.com/assets/logotext-6441427fdda2eaa7a811db01d11ff2fab7dfebcb2db6af3eba083aaef4e1a777.png", :style => "border:0;display:block;outline:none;text-decoration:none;width:100%;"}
      .right
        = link_to 'Devenir professeur', become_teacher_path(:general_infos), :class => 'btn blue _on_desktop'
        = link_to 'Connexion', new_user_session_path, :class => 'btn txt _on_desktop'
        = link_to "S'inscrire", new_user_registration_path, :class => 'btn primary _on_desktop'
        = link_to "Se connecter / S'inscrire", new_user_registration_path, :class => 'btn txt _on_mobil'
  %header
    .content_main_title_header
      .main_title_block
        %h1 Le bon prof au bon moment
        %h2 Les meilleurs professeurs particulers sont sur Qwearteach
      %a.toScrollDown{:href => "#top"}

  .content_block_body
    .block_body.to_up
      %section#top.head
        .block_title
          %h2
            Les cours particulers,
            %br
            %span.grey nouvelle génération
        .block_sign_up.show
          .form.absolute.material-form
            %span.title_sign Inscrivez vous maintent
            = render partial: 'devise/registrations/student_form'
            = link_to 'Je suis déjà inscrit', new_user_session_path, :class => 'btn txt _on_desktop', :style => "transform:translateY(-20px)"
        %ul.assets_cours
          %li
            %figure
              =image_tag('acceuil/teacher.svg')
            %article
              %h4.title Vos cours particuliers, où vous voulez
              %p
                En un clic, retrouvez votre professeur particulier dans la classe virtuelle Qwerteach. Le cours en ligne, c'est un vrai cours particulier, sans devoir se déplacer.
          %li
            %figure
              =image_tag('acceuil/timing.svg')
            %article
              %h4.title A vos horaires
              %p
                Discutez avec votre profeseur et fixez enemble les horaires qui vous arrangent. Sur Qwerteach nous vous encourageons à étaler vos cours sur la semaine. Des scéances plus courtes, plus souvent: l'idéal pour bien apprendre.
          %li
            %figure
              =image_tag('acceuil/landing_payement.svg')
            %article
              %h4.title Payez en toute sécurité
              %p
                Grâce à notre système de paiement sécurisé, vous réservez vos cours en un clic. En cas de problème lors d'un cours, vous serez intégralement remboursé. Sans discussion.
      %section.teachers
        .block_title
          %h2 Découvrez le meilleur prof pour vous
        .teachers_list
          - @bool = false
          - @featured_teachers_landing.each_with_index do |prof, index|
            .teacher
              %a.link_to_tacher{:href => user_path(prof)}
                %figure
                  = image_tag(prof.avatar.url(:medium), {class: 'teacher_img'})
                  %figcaption
                    %span
                      = "#{prof.firstname} #{prof.lastname}"
                    %p
                      = prof.offers.map{|ad| ad.title}.join(', ')

      %section.press
        .before
        .block_title
          %h2 La presse parle de nous
        %ul.press_list
          %li
            %a{:href => "http://www.lalibre.be/economie/digital/one-hour-challenge-qwerteach-5ad9fa3bcd702f0c1aefa2db"}
              =image_tag('acceuil/press/la_libre_belgique.png')
          %li
            %a{:href => "http://www.lesoir.be/archive/recup/483418/article/actualite/regions/2014-03-03/un-nouveau-genre-d-e-learning"}
              =image_tag('acceuil/press/le_soir.jpeg')
          %li
            %a{:href => "http://www.educadis.fr/soutien-scolaire/news-soutien-scolaire-elearning/une-nouvelle-plateforme-de-soutien-scolaire-gratuit"}
              =image_tag('acceuil/press/logo_educadis.jpg')
      %section.subscribe
        .block_title._center
          %h2 Profitez maintenant de tous les avantages
        .centered_btn
          = link_to "S'inscrire maintenant", new_user_registration_path, :class => 'btn primary'
      %section.testimny
        .side.l.st-slider
          %input#slide1.cs_anchor.radio{:name => "slider", :type => "radio"}
          %input#slide2.cs_anchor.radio{:name => "slider", :type => "radio"}
          %input#slide3.cs_anchor.radio{:name => "slider", :type => "radio"}
          %input#play1.cs_anchor.radio{:checked => "checked", :name => "slider", :type => "radio"}
          .slider
            .article_inner
              .article_slider
                .article._1
                  %p Super prof très éfficace et très a l'écoute. Bon contact humain, ce qui est très appréciable !
                  %span.data Henri
              .article_slider
                .article._1
                  %p Connaît son sujet, polyvalent, clair et concis. Parfait pour corriger les imperfections avant une session d'examens!
                  %span.data François
              .article_slider
                .article._1
                  %p Excellent professeur, fait preuve de patience remarquable, c'est un très bon pédagogue. On voit que Nicolas a de l'expérience dans l'enseignement, il a la vocation.
                  %span.data Louis
          .labels
            .fake-radio
              %label.radio-btn{:for => "slide1"}
              %label.radio-btn{:for => "slide2"}
              %label.radio-btn{:for => "slide3"}
        / .slide
        .side.r
          %ul
            %li
              %a{:href => "#"}
                %span.v>
                Des centaines de professeurs disponibles et certifiés !
            %li
              %a{:href => "#"}
                %span.v>
                Cours particulier de qualité, garantis ou remboursé !
            %li
              %a{:href => "#"}
                %span.v>
                Vos cours sont enregistrés, revoyez les autant de fois que vous voulez !
      %section.become_teacher
        .block_title._center
          %h2 Envie de devenir prof ?
        .centered_btn
          = link_to 'Passez à l\'action !', become_teacher_path(:general_infos), :class => 'btn blue _on_desktop'

:javascript
  $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
  }); 

  let st = 0, lastScrollTop = 0
    , vpH = 0
    , vpW = 0
    , BlockBody = $('.block_body')
    , toScrollDown = $('.toScrollDown')
    , isNavHide = false
    , topNav = $('nav.main_nav')
    , signUpBlock = $('.block_sign_up')
    , ContentBlockBody = $('.content_block_body')
    , ContentBlockBodySize = ContentBlockBody.height()

  $(document).ready(function() {
    st = $(window).scrollTop()
    vpH = $(window).height()
    vpW = $(window).width()

    if (st >= (vpH - 540)) {
      $('nav.main_nav').addClass('onScreen') 
    } else {
      $('nav.main_nav').removeClass('onScreen')
    }
  })
  
  $(window).scroll(function() {
      st = $(window).scrollTop()
  
      if (st > 20) {
          toScrollDown.addClass('hide')
      } else {
          if (st < 20) {
              toScrollDown.removeClass('hide')
          }
          toScrollDown.removeClass('hide')
      }

      if (st >= (vpH - 540)) {
        $('nav.main_nav').addClass('onScreen')
      } else {
        $('nav.main_nav').removeClass('onScreen')
      }
      if (st >= (vpH - 200)) {
        $('nav.main_nav .right').addClass('block')
      } else {
        $('nav.main_nav .right').removeClass('block')
      }

      /*
      if (st > lastScrollTop) {
          topNav.addClass('hide')
      } else {
          topNav.removeClass('hide')
          $('nav.main_nav').addClass('onScreen')
          if (st == 0) {
              $('nav.main_nav').removeClass('onScreen')
          }
      }
      lastScrollTop = st  
      */
  })

  $(window).resize(function() {
      st = $(window).scrollTop()
      vpH = $(window).height()
      vpW = $(window).width()
  })