- content_for(:title) do
  = "Conversation ##{@conversation.id}"
.card-header.bordered
  .header-block
    %h3.title= content_for(:title)

.card-block
  %dl
    %dt.attribute-label Participants:
    %dd.attribute-data
      = @conversation.recipients.map{|r| link_to r.name, admin_user_path(r)}.join(', ').html_safe
    %dt.attribute-label Subject:
    %dd #{@conversation.subject}

  -#%table
  -#  %thead
  -#    %tr
  -#      %th.cell-label Emetteur
  -#      %th.cell-label Texte
  -#      %th.cell-label Date
  -#  %tbody
  -#    - @messages.each do |m|
  -#      %tr{class: m.sender == @conversation.originator ? 'bg-blue':'bg-green'}
  -#        %td #{link_to "#{m.sender.name} (#{m.sender.id})", admin_user_path(m.sender)}
  -#        %td #{m.body}
  -#        %td #{m.created_at}
  -#= paginate @messages
  .conversation-admin
    .mailbox-conversation
      .conversation-content
        = render 'conversations/messages', messages: @messages
  = paginate @messages
