.user-avatar
  =image_tag @user.avatar(:medium), :class => "avatar"
  = form_for @user, as: resource_name, url: user_path(@user), html: {class: 'avatar-uploader'} do |f|
    = f.file_field :avatar
    = f.submit ''
    = f.hidden_field :crop_x, :id => 'crop_x'
    = f.hidden_field :crop_y, :id => 'crop_y'
    = f.hidden_field :crop_w, :id => 'crop_w'
    = f.hidden_field :crop_h, :id => 'crop_h'


  .edit-user-avatar
    .banner
      modifier
      %i.fa.fa-camera
.menu-link
  %a{:data => {:toggle => "collapse", :target => "#profil", :parent => '#edit_profile'}, :class => "active"} Modifier mes informations
.menu-link
  %a{:data => {:toggle => "collapse", :target => "#passcode", :parent => '#edit_profile'}} Modifier mon mot de passe
-if @user.is_a?(Teacher)
  .menu-link
    %a{:data => {:toggle => "collapse", :target => "#annonces", :parent => '#edit_profile'}} Mes annonces
.menu-link
  =link_to "Voir mon profil", user_path(@user)

#avatar-crop-modal.modal
  .modal-dialog
    .modal-content
      %h4 Recadrer la photo
      .modal-body-avatar
        .avatar-uploaded-view
          %img.avatar-uploaded-view-image
        .avatar-uploaded-preview
          %img.avatar-uploaded-preview-image
      .modal-footer.text-center
        %a.modal-action.modal-close{href: '#!'} Annuler
        %button.btn.btn-success.btn-qw.btn-avatar-save{'type'=>'button'} Sauver

:javascript
  new AvatarUploader();
  $('.modal').modal();

:javascript
  $('.edit-user-avatar').on('click', function(){
    $('#user_avatar').trigger('click');
  });
  $('#user_avatar').on('change', function(){

    if ( $('#user_avatar').get(0).files[0] ) {
      $('#avatar-crop-modal').modal('open');
    }
  });
  var h = $(body).height();
  $('.menu').css({height:h});


