.container
  .row
    %h3
      Vos données sur Qwerteach
    .col-md-6
      - for attribute in @user.gdpr_attributes.keys
        %p
          = "#{t attribute.humanize}: "
          - if @user.attributes[attribute].in? [true, false]
            = @user.attributes[attribute] ? "Oui": "Non"
          - else
            = "#{@user.attributes[attribute].to_s == "" ? "/" : @user.attributes[attribute].to_s }"
    .col-md-6
      %h3 Votre activité sur Qwerteach:
      %p
        - if @user.is_a?(Teacher)
          Vous êtes inscrit sur Qwerteach comme <b>prof</b>.
          %br
          - if @user.postulance_accepted
            Votre candidature a été validée par un admin vous pouvez donc donner des cours.
            %h6 Vos cours
            = render partial: 'dashboards/cards/teacher_stats', locals: {past_lessons_given: @user.lessons_given.past.created}
          - else
            Votre candidature n'a pas encore été validée par un admin. Votre profil n'est pas encore visible dans les résultats de recherche.
        - elsif @user.is_a?(Parent)
          Vous êtes inscrit sur Qwerteach comme <b>parent</b>.
          %br
          Vous cherchez un professeur particulier pour votre enfant.
        - elsif @user.is_a?(Student)
          Vous êtes inscrit sur Qwerteach comme <b>élève</b>.
          %h6 Vos cours
          = render partial: 'dashboards/cards/student_stats', locals: {past_lessons_taken: @user.lessons_received.past.created}
      %p
        Les enregistrements de tous vos cours dans la classe virtuelle sont disponibles via la page "mes cours".
        Seul vous et le professeur avez accès à ces enregistrements. Ils seront rendus accessibles aux admins du site
        si un litige est déclaré sur un cours, et ce afin de nous aider à établir les faits et trancher en connaissance de cause.
  .row
    %h3 Pourquoi collectons-nous vos données?
    .col-md-12
      %p
        Afin de vous rendre un service de qualité, Qwerteach garde en mémoire certaines informations vous concernant.
        Il s'agit de la liste ci-dessus, ainsi que de votre activité sur le site en termes de cours (cours reçus et donnés).
        <br />
        Vous trouverez plus d'informations sur l'utilisation de vos données personnelles dans nos #{link_to "conditions générales d'utilisation", pages_path("conditions-generales")}
  .row
    %h3 Supprimer mon profil
    .col-md-12
      %p Vous ne souhaitez plus utiliser Qwerteach ? En cliquant sur le bouton ci-dessous, vous supprimerez votre compte, et toutes les données le concernant.
      =link_to "Supprimer mon profil", '#confirm-deletion', {data: {toggle: 'modal'}, class: "btn btn-danger red"}
      %hr


.modal.fade#confirm-deletion
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h4 Êtes-vous sûr de vouloir supprimer votre profil Qwerteach?
      .modal-body
        %p
          En cliquant sur "supprimer", vous effacerez définitivement votre compte Qwerteach,
          et supprimerez toutes vos données de notre base de données.
          %hr.text-green
        %p
          %small
            Cependant, vos données bancaires, lesquelles sont gérées par notre partenaire de payements électroniques,
            MANGOPAY, ne seront pas effacées de leurs serveurs.
            %br
            En effet, dans le cadre de la lutte contre la fraude et le blanchiment d'argent,
            la société MANGOPAY est tenue de les conserver pendant 5 ans après la dernière utilisation du compte.
            %br
            Ces données ne seront pas utilisées à des fins publicitaires ni communiquées à des tiers.
            = link_to 'En savoir plus.', pages_path('conditions-generales')
        %p.text-center.text-red
          %i.fa.fa-warning
          Attention, cette action est irréversible!
          =button_to "Supprimer mon profil", user_registration_path, method: :delete, class: "btn btn-danger red"
