#edit-profile
  .container-fluid
    = render partial: 'header'
  #profile-navigation
    = render :partial => 'menu_edit_registrations'
  .container
    #general-infos
      = render :partial => 'profile_form'
    #password
      = render :partial => 'password_form'
    -if @user.is_a?(Teacher)
      #offers
        = render :template => 'offers/index'