.card.card-lesson
  .card-content
    .row
      .col-xs-3
        .icon-user-avatar
          = link_to profs_by_topic_path(request.topic.title) do
            =image_tag(request.topic.pictotype(:small))
      .col-xs-9
        .lesson-date.text-grey
          = "##{request.id} - "
          #{request.created_at.strftime("%d %B %Y à %H:%M")}
        .card-title
          Matière: #{request.topic.title}
          Niveau: #{request.level.title}
        %p #{request.description}
