.card.card-lesson
  .card-content
    .row
      .col-xs-3
        .icon-user-avatar{class: "topic_#{request.topic.topic_group.id} text-center"}
          =image_tag(request.topic.pictotype(:small))
      .col-xs-9
        .lesson-date.text-grey
          = "##{request.id} - "
          #{l(request.created_at, format: "%d %B %Y à %H:%M")}
        %h3.card-title
          #{request.topic.title} - #{request.level.fr}
        %p #{request.description} <br />
        .card-action.text-center
          -#- if current_user.postulance_accepted?
          -#  = link_to user_path(request.student.id), class: 'btn btn-sm btn-qw btn-green' do
          -#    %i.fa.fa-comments-o
          -#    Envoyer un message
            -#- if !request.student.full_number.nil? && request.status == 0
            -#  %p.text-center
            -#    %i.fa.fa-2x.fa-phone.text-green
            -#    #{request.student.full_number}
          %br
          = link_to '+ détails', global_request_path(request)
