.container
  .row
    .col-sm-8.col-sm-offset-2
      .card
        .card-content
          .alert.alert-notice= notice unless notice.nil?
          %h3.card-title
            Demande pour un cours de #{@global_request.topic.title}, de niveau #{@global_request.level.fr}
            %br
            %small
              Faite le #{l(@global_request.created_at, format: "%d %B %Y à %H:%M")}
              par #{@global_request.student.name}
          %blockquote
            %small "#{@global_request.description}"
          %p
            <b>Statut:</b>
            = @global_request.status == 0 ? 'Ouverte' : 'Fermée'
          %p
            <b>Expire le:</b>
            =l(@global_request.expiry_date, format: "%d %B %Y à %H:%M")
          %p
            <b>Tarif maximum:</b>
            #{@global_request.price_max.nil? ? 'Non renseigné' : "#{@global_request.price_max}€/h"}
          <br /><br />

          - if @global_request.student == current_user
            .card-action
              - if @global_request.expired?
                Demande expirée
              - else
                .pull-left
                  = link_to edit_global_request_path(@global_request) do
                    %i.fa.fa-edit
                    Modifier
                .pull-right
                  = link_to global_request_path(@global_request), method: :delete, class: 'text-red' do
                    %i.fa.fa-trash-o
                    Supprimer
          - else
            - if current_user.postulance_accepted?
              .text-center
                = link_to '#contacts-modal', class: 'btn btn-sm btn-qw btn-green', data:{toggle: 'modal'} do
                  %i.fa.fa-comments-o
                  Contacter l'élève
              - if !@global_request.student.full_number.nil? && @global_request.status == 0
                %p.text-center
                  %i.fa.fa-2x.fa-phone.text-green
                  #{@global_request.student.full_number}

              = render partial: 'users/profile/contactform', locals: {user: @global_request.student, me: current_user}
            - else
              .text-center
                Vous devez être un professeur approuvé pour pouvoir répondre aux demandes des élèves!
                <br />
                Contactez un administrateur pour faire valider votre profil.
                <br />
                = link_to conversations_path, class: 'btn btn-sm btn-qw btn-green' do
                  Contacter un admin
          %hr
          .pull-left
            = link_to 'Retour', global_requests_path
