= form_for([namespace, page.resource], html: {class: "form"}) do |f|
  - if page.resource.errors.any?
    #error_explanation
      %h2
        = pluralize(page.resource.errors.count, "error")
        prohibited this #{page.resource_name} from being saved:
      %ul
        - page.resource.errors.full_messages.each do |message|
          %li= message
  - page.attributes.each do |attribute|
    - if (attribute.name == "teacher_status")
      .form-group.row.field-unit--string
        = f.label :teacher_status, class: 'field-unit__label col-sm-2 form-control-label text-xs-right'
        .field-unit__field.col-sm-10
          = f.select :teacher_status, options_for_select(Teacher::TEACHER_STATUS, :selected => f.object.teacher_status), {}, { :class => 'c-select form-control boxed' }
    - else
      %div{:class => "form-group row field-unit field-unit--#{attribute.html_class}"}
        = render_field attribute, f: f
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
