%body
  - content_for(:title) { "#{page.resource.firstname} #{page.resource.lastname}"}
  %header.header
    %h1.header__heading
      = content_for(:title)
      %small= page.resource.postulance_accepted ? '(Teacher)' : '(Postuling teacher)'
    =image_tag page.resource.avatar.url(:medium)
    .header__actions
      = link_to("Edit",[:edit, namespace, page.resource], class: "button")

      = form_for([namespace, page.resource], html: {class: "form"}) do |f|
        = f.hidden_field :postulance_accepted, value: !page.resource.postulance_accepted
        = page.resource.postulance_accepted ? (f.submit 'Suspend') : (f.submit 'Approve', :class => 'action-destroy')
      = button_to "Se connecter en tant que", admin_user_become_path(page.resource), method: :post, class: "button"
  %hr
  .user-postulation
    %h2 Postulation:
    = render :partial => 'admin/postulations/postulation', locals:{postulation: page.resource.postulation}
    = link_to "Modifier", [:edit, namespace, page.resource.postulation], class: 'pull-right'
  %hr
  %dl
    - page.attributes.each do |attribute|
      %dt.attribute-label= attribute.name.titleize
      %dd{:class => "attribute-data attribute-data--#{attribute.html_class}"}
        - if attribute.data != "" && !attribute.data.nil?
          = render_field attribute
        - else
          ="-"
  %div
    %h2 Discuter avec #{page.resource.name}
    #generated-text
    .actions.pull-right
      = link_to 'Interview', room_invite_bbb_rooms_path(@user), class:'button btn-default'
      %br
      = link_to 'generate text', admin_postulation_generate_text_path(page.resource.postulation), remote:true, class:'button btn-default'
    .conversation-admin
      -if @conversation_admin.id.nil?
        = render partial: 'users/profile/contactform', locals:{me: current_user, user: @user}
      -else
        = render partial: 'conversations/conversation', locals:{conversation: @conversation_admin, page: 0, messages: @messages_admin}
  %div
    %h2 Conversations (#{@conversations.total_count})
    - unless @conversations.empty?
      %table
        %thead
          %tr
            %th ID
            %th partner
            %th last message
            %th # of messages
          - @conversations.each do |c|
            - c.recipients.delete(@user)
            %tr
              %td #{link_to c.id, admin_show_conversation_path(c)}
              %td #{link_to c.recipients.last.name, admin_student_path(c.recipients.last)}
              %td #{c.messages.last.body}
              %td #{c.messages.count}

      = paginate @conversations
    - else
      Pas encore de conversations!

-#=content_for(:javascript)