%table.table.table-striped.table-hover{"aria-labelledby" => "page-title"}
  %thead
    %tr
      - if (resources.first.is_a?(Student))
        %th.cell-label.cell-label Photo
      - collection_presenter.attribute_types.each do |attr_name, attr_type|
        %th.cell-label.cell-label #{attr_name}
      %th{:colspan => "2", :scope => "col"}
  %tbody
    - resources.each do |resource|
      %tr.js-table-row{"data-url" => "#{polymorphic_path([namespace, resource])}", :role => "link", :tabindex => "0"}
        - if (resources.first.is_a?(Student))
          %td
            = image_tag(resource.avatar.url(:small))
          %td= resource.id
          %td= resource.level.be unless resource.level.nil?
          %td= resource.email
          %td= resource.full_number
          %td= resource.offers.count.to_s + ' offers'
          %td= link_to(t("administrate.actions.show"),[namespace, resource],class: "action-show")
