- content_for(:title) { page.resource.full_name }
.card-header.bordered
  .header-block
    =image_tag page.resource.avatar.url(:small), class: "header-avatar rounded"
    %h3.title
      = content_for(:title)
      %small (Student)
  .header-block.pull-right
    = link_to("Edit",[:edit, namespace, page.resource], class: "btn btn-primary")
    = link_to("Suspendre", admin_user_path(page.resource), method: :delete, class: "btn btn-warning")
    = link_to "Se connecter en tant que", admin_user_become_path(page.resource), method: :post, class: "btn btn-secondary"

.card-block
  %ul.nav.nav-tabs.nav-tabs-bordered
    %li.nav-item
      %a.nav-link(data-toggle="tab" href="#information" aria-controls="information" role="tab" aria-expanded="true"){class: tab_state('info', true)}
        Information
    %li.nav-item
      %a.nav-link(data-toggle="tab" href="#lessons" aria-controls="lessons" role="tab" aria-expanded="false"){class: tab_state('received_lessons')}
        Received Lessons
    %li.nav-item
      %a.nav-link(data-toggle="tab" href="#discuter" aria-controls="discuter" role="tab" aria-expanded="false") Discuter
    %li.nav-item
      %a.nav-link(data-toggle="tab" href="#conversations" aria-controls="conversations" role="tab" aria-expanded="false"){class: tab_state('conversations')}
        Conversations

  .tab-content.tabs-bordered
    #information.tab-pane(aria-expanded="true"){class: tab_state('info', true)}
      %table.table-min.table-striped
        - page.attributes.each do |attribute|
          %tr
            %td.attribute-label= attribute.name.titleize
            %td{:class => "attribute-data attribute-data--#{attribute.html_class}"}
              - if attribute.data != "" && !attribute.data.nil?
                = render_field attribute
              - else
                ="-"
        %tr
          %td.attribute-label Balance
          %td{:class => "attribute-data"}
            - if page.resource.mango_id.present?
              = wallet_balance(page.resource.normal_wallet) rescue '-'
            - else
              ="-"
    #lessons.tab-pane(aria-expanded="false"){class: tab_state('received_lessons')}
      = render_field resource_field(page, :lessons_received)

    #discuter.tab-pane(aria-expanded="false")
      .card-header
        %h4.title Discuter avec #{page.resource.name}
        .header-block.actions.pull-right
          = link_to 'Inviter dans la classe virtuelle', room_invite_bbb_rooms_path(page.resource), class:'btn btn-secondary'
      .conversation-admin
        = render 'admin/shared/conversation_with_admin', conversation: @conversation_admin, recipient: student

    #conversations.tab-pane(aria-expanded="false"){class: tab_state('conversations')}
      = render 'admin/shared/conversations', conversations: @conversations, user: student

-#=content_for(:javascript)
