.participant.clearfix
  .avatar.pull-left
    = image_tag(user.avatar.url(:small), class: "img img-circle #{'avatar-admin' if user.is_admin?}")
  .name
    = link_to user.name, user_path(user)
    - if user.is_admin?
      %br
      %small Admin Qwerteach
      #admin_qwerteach
    - elsif user.is_a?(Teacher)
      %br
      %small Professeur
- if user.is_a?(Teacher)
  .participant-offers-title
    Cours
    %i.fa.fa-angle-down
  .participant-offers.clearfix
    - user.offers.each do |ad|
      .offer{class: "topic_#{ad.topic_group.id}"}
        #{ad.topic.title}
        %br
        = image_tag(ad.topic.pictotype("medium"))
  .participant-cta
    = link_to 'Réserver un cours', new_user_lesson_request_path(user)
- if current_user.is_a?(Teacher)
  .participant-cta
    %a{href: '#new-lesson-modal', data:{toggle: 'modal'}}
      Proposer un cours

  #new-lesson-modal.modal.fade
    .modal-dialog{role:'document'}
      .modal-content
        .modal-header
          %h3.text-black Inviter l'élève à prendre cours avec vous
        .modal-body
          .row
            .col-sm-6.text-center.text-black
              %i.fa.fa-user.fa-2x
              %br
              Planifier un cours unique
              = link_to 'Proposer un cours', new_lesson_proposal_path(user), class: 'btn qwerteach-blue'
            .col-sm-6.text-center.text-black
              %i.fa.fa-calendar.fa-2x
              %br
              Planifier des cours réguliers
              = link_to 'Proposer un forfait', new_lesson_pack_path(user), class: 'btn qwerteach-green'

