.participant.clearfix
  .avatar.pull-left
    = image_tag(user.avatar.url(:small), class: 'img img-circle')
  .name
    = link_to user.name, user_path(user)
    - if user.is_a?(Teacher)
      %br
      %small Professeur
- if user.is_a?(Teacher)
  .participant-offers-title
    Cours
    %i.fa.fa-angle-down
  .participant-offers.clearfix
    - user.offers.each do |ad|
      .offer{class: "topic_#{ad.topic_group.id}"}
        #{ad.topic.title}
        = image_tag(ad.topic.pictotype("medium"))
  .participant-cta
    = link_to 'Réserver un cours', new_user_lesson_request_path(user), remote: false

