.mail-box
  #mailbox-content
    %aside.sm-side
      -#liste des conversations
      #conversations-list
        -#= render partial: 'new_conversation_preview'
        - @conversations.each do |conversation|
          = render partial: 'last_message', :locals=> {conversation: conversation, user: @user}
        = paginate @conversations
        - if @conversations.empty?
          %p.text-white.text-center
            %br
            0 conversations
    %aside.lg-side
      -#contenu de la conversation
      #mailbox_conversations
        - if @conversations.empty?
          = render partial: 'no_conversations'
        - else
          = render partial: 'conversation', locals:{conversation: @conversations.first, messages: @messages, page: @page}
    .clearfix

- unless @conversations.empty?
  :javascript
    $(document).on('turbolinks:load', function(){
      chat(#{@conversations.first.id});
    });


