.card-header.bordered
  - content_for(:title) { page.page_title }
  .header-block
    %h3.title= content_for(:title)
  .header-block.pull-right
    = link_to(                                                  |
        "#{t("administrate.actions.edit")} #{page.page_title}", |
        [:edit, namespace, page.resource],                      |
        class: "btn btn-primary",                               |
      ) if valid_action? :edit                                  |

.card-block
  %ul.nav.nav-tabs.nav-tabs-bordered
    %li.nav-item
      %a.nav-link.active(data-toggle="tab" href="#information" aria-controls="information" role="tab" aria-expanded="true") Information
    %li.nav-item
      %a.nav-link(data-toggle="tab" href="#payments" aria-controls="payments" role="tab" aria-expanded="false") Payments
    %li.nav-item
      %a.nav-link(data-toggle="tab" href="#recordings" aria-controls="recordings" role="tab" aria-expanded="false") Recordings

  .tab-content.tabs-bordered
    #information.tab-pane.active(aria-expanded="true")
      %table.table-min.table-striped
        %tr
          %td.attribute-label ID:
          %td= page.resource.id
        %tr
          %td.attribute-label Student:
          %td= link_to( "#{page.resource.student.firstname} #{page.resource.student.lastname}", [namespace, page.resource.student])
        %tr
          %td.attribute-label Teacher:
          %td= link_to( "#{page.resource.teacher.firstname} #{page.resource.teacher.lastname}", [namespace, page.resource.teacher])
        %tr
          %td.attribute-label Status:
          %td= page.resource.status
        %tr
          %td.attribute-label Topic group:
          %td= page.resource.topic_group.title
        %tr
          %td.attribute-label Topic:
          %td= page.resource.topic.title
        %tr
          %td.attribute-label Level:
          %td= page.resource.level.fr
        %tr
          %td.attribute-label Time start:
          %td= page.resource.time_start
        %tr
          %td.attribute-label Duration:
          %td #{(( page.resource.time_end - page.resource.time_start) / 1.minute).round} min
        %tr
          %td.attribute-label Price:
          %td #{page.resource.price} €
        %tr
          %td.attribute-label Comment:
          %td= page.resource.comment
        %tr
          %td.attribute-label Created at:
          %td= page.resource.created_at
        %tr
          %td.attribute-label Updated at:
          %td= page.resource.updated_at

    #payments.tab-pane(aria-expanded="true")
      %table.table.table-striped
        %thead
          %th ID
          %th Amount
          %th Status
          %th Type
          %th Payin ID
          %th created at
        %tbody
          - page.resource.payments.each do |payment|
            %tr
              %td= payment.id
              %td= payment.price
              %td= payment.status
              %td= payment.payment_type
              %td= payment.mangopay_payin_id || payment.transfer_eleve_id
              %td= payment.created_at

    #recordings.tab-pane(aria-expanded="true")
      - if page.resource.bbb_room.present?

        %table.table.table-striped
          %thead
            %th ID
            %th Link
            %th Created at
          %tbody
            - recordings = BigbluebuttonRecording.where(:room_id => page.resource.bbb_room)
            - recordings.each do |rec|
              %tr
                %td= rec.id
                %td= link_to "link", rec.playback_formats.first.url
                %td= rec.created_at
      - else
        %p Pas de recordings
