.row.cards-wrapper
  .col-sm-12
    %h2 La boîte à outils
  .col-sm-3.col-xs-6.tools-list
    .card
      .card-content
        %span.card-title Vos élèves
        - if @user.lessons_given.count > 0
          Félicitations, vous avez donné
          = link_to "#{@user.lessons_given.count} cours", lessons_path + "#history"
          sur Qwerteach!
          %ul
            - @user.lessons_given.group(:student_id).each do |l|
              - unless l.student.nil?
                %li #{link_to l.student.name, user_path(l.student.id)}
        - else
          Vous n'avez pas encore donné de cours sur Qwerteach
  .col-sm-3.col-xs-6.tools-list
    .card
      .card-content
        %span.card-title Donner cours
        = link_to "Essayer la classe virtuelle", demo_room_path
        %br
        = link_to "Autres outils d'enseignement", toolbox_path(:logiciels)
        %br
        = link_to "Questions fréquentes", faq_path
  .col-sm-3.col-xs-6.tools-list
    .card
      .card-content
        %span.card-title Communauté
        %a{href: 'https://www.facebook.com/groups/1492069747501897/'} Groupe facebook
        %br
        %a.open-tawk{href: '#'} Contacter un admin
  .col-sm-3.col-xs-6.find-students.tools-list
    .card
      .card-content
        %span.card-title
          = link_to 'Trouver des élèves', toolbox_index_path




