!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @subject
    %p
      = @text
    %blockquote
    %p
      ID: #{@lesson.id}
      %br
      date: le #{@lesson.time_start.strftime("%d/%m/%Y à %H:%M")}
      %br
      Matière: #{@lesson.topic.title}
      %br
      Durée: #{@lesson.duration.hours}h#{@lesson.duration.minutes}
    %p
      #{link_to 'Consulter la liste de mes cours', lessons_url } pour plus d'informations
