= render :partial => 'header', locals:{title: 'Poster des annonces'}
.container
  .row
    .col-sm-3.col-md-offset-1
      = render :partial => 'navigation'
    .col-sm-9.col-md-7
      %p
        L'équipe derrière Qwerteach essaye par tous les moyens de faire connaître notre service, mais celà ne vous
        empêche pas de mettre en avant vos cours et compétences!
        %br
        Pour celà, rien de tel que les petites annonces. Vous trouverez ci-dessous nos conseils pour rédiger vos
        annonces, où les poster et comment les illustrer, pour qu'elles vous apportent un maximum d'élèves. Bonne chance!
      %hr
      %h3 Rédiger des annonces qui marchent
      %p
        Votre annonce doit répondre à un certain nombre de critères pour être attractive auprès des élèves ou des
        parents d’élèves:
      %h4 Le titre:
      %p
        Celui-ci est déterminant car c’est la première information qui sera vue par les élèves. Il est donc important
        <b>d’être concis et d’utiliser des mots clés qui vont droit au but</b>. Le nombre de caractères est souvent limité,
        ciblez vraiment l’objectif de votre annonce et non pas les détails “superflus” tels que votre profil, vos
        méthodes, ou le fait que les cours se déroulent en ligne.
      %p
        Voici un exemple de titre mal adapté:
        = image_tag('toolbox/annonces/titre-annonce-cours-particuliers.png', class:'toolbox-screenshot materialboxed')
        Et ci-dessous un exemple de titre mieux adapté:
        = image_tag('toolbox/annonces/titre-annonce-cours-particuliers2.png', class:'toolbox-screenshot materialboxed')
        Comme nous l’avons expliqué plus haut, vous ne pouvez pas poster plusieurs fois une annonce avec un titre
        identique. Il vous faudra donc avoir plusieurs titres “type” sous la main.

      %h4 La photo:
      %p
        L’image jointe à votre annonce doit être sélectionnée avec soin, elle permettra aux potentiels intéressés
        d’être <b>rassurés par rapport à la crédibilité de votre proposition de service</b>. Le but étant de <b>montrer
        qu’il y a bien quelqu’un derrière votre offre</b>. Optez pour une photo de bonne qualité, formelle et sérieuse.
        Pour avoir un maximum de contact, <b>choisissez une photo de vous</b>, c’est la méthode la plus efficace et
        rassurante pour les élèves.
      %p
        Cependant, vous risquez malheureusement de recevoir beaucoup plus d’appels n’ayant aucun rapport avec votre
        annonce, surtout si vous êtes une femme. L’alternative est donc de trouver une image où vous n’apparaissez pas
        mais tout de même <b>en rapport avec votre service</b>: CV, photo de cours, image en relation avec la matière que vous
        enseignez, screenshot d’avis positifs d’anciens élèves, etc… Ainsi, votre annonce sera crédible et attractive
        pour de potentiels élèves, tout en évitant de trop divulguer d’informations personnelles. Vous évitez ainsi
        les appels type “Adopte un Prof”, vous devez cependant savoir que vous serez moins contacté.
      %p
        Voici ci-dessous une image mal choisie:
        = image_tag('toolbox/annonces/image-annonce-cours-particuliers1.png', class:'toolbox-screenshot materialboxed')
        Et là une image cohérente avec le propos de l’annonce:
        = image_tag('toolbox/annonces/image-annonce-cours-particuliers2.png', class:'toolbox-screenshot materialboxed')


      %h4 Vos coordonnées:
      %p
        Les différents moyens par lesquels un potentiel intéressé pourra vous joindre <b>doivent apparaître à la fin de
        votre annonce</b>. Vous devez tout de même prendre certaines précautions: il est fortement déconseillé
        d’inscrire votre numéro de téléphone pour ainsi éviter d’être joint par n’importe qui à n’importe quelle heure
        sur votre ligne personnelle. Nous vous conseillons, si possible, <b>d'inclure un lien vers votre profil Qwerteach</b>, ainsi vous
        pourrez directement recevoir des réservations pour des cours en ligne prépayés.
        %br
        <b>Attention, le site le bon coin ne permet pas d'insérer de liens dans votre annonce.</b> Dans ce cas
        particulier, ne l'incluez pas sous peine de voir votre annonce refusée. Vous enverrez ce lien par e-mail
        lorsque vous serez contacté par un parent.
        %br
        De plus les avis laissés par vos élèves précédents contribueront à rassurer vos autres élèves potentiels.
        Vous pouvez également renseigner votre E-mail, dans ce cas nous vous conseillons de privilégier une adresse
        spécialement dédiée à cet usage, au cas où vous recevez beaucoup de demandes, pas toujours pertinentes
        (attention aux arnaques !) et ainsi ne pas saturer votre boîte personnelle. Enfin, l’idéal est d’utiliser une
        ligne téléphonique spécialement dédiée à cet usage grâce à une carte prépayée, vous pourrez ainsi converser avec
        vos clients et prospects sans encombrer votre ligne personnelle.

      %hr
      %h3 Présentation générale
      %p
        La rédaction de votre annonce peut suivre un schéma classique, il est de votre ressort de <b>vous mettre le plus
        en valeur possible</b>. Pensez à bien vous présenter, ainsi que vos compétences et votre background en termes
        d’enseignement. Vous devez également expliquer pourquoi vous désirez enseigner cette matière, et le justifier
        par rapport à votre parcours scolaire et professionnel, cela rassure les parents sur vos motivations.
      %p
        Votre présentation générale doit vous refléter fidèlement tout en montrant que vous possédez quelque chose de
        plus que les autres professeurs:
      %ul
        %li -	Pour quel type de cours êtes-vous le meilleur professeur ?
        %li -	Avez-vous de l'expérience avec des élèves ayant des troubles de l’apprentissage?
        %li -	Avez-vous étudié à l'étranger?
        %li -	Avez-vous fait une vidéo qui montre à quel point vos cours sont bons? (très efficace)
        %li -	Etes-vous particulièrement à l’aise dans l’enseignement de la trigonométrie?
      %p
        <b>Ayez quelque chose d’unique pour vous mettre en valeur</b>. Votre texte doit être clair et structuré.
        De plus, essayez d’apporter de l’originalité pour ainsi vous distinguer par rapport aux autres. <b>Faites le
        relire</b> à un de vos proches pour avoir un avis extérieur, vous pouvez par exemple le montrer à un professeur
        plus expérimenté ayant l’habitude de ce type d’annonce. L’équipe Qwerteach est également à votre disposition
        pour vous aider dans la rédaction de votre annonce, n'hésitez pas à demander.

      %hr
      %h3 Présentation de votre méthode de travail
      %p
        Vous devez être très attentif lors de la rédaction de cette partie car elle représente <b>l’élément principal sur
        lequel l’élève ou le parent base son choix</b>. Il vous faut bien défendre votre façon de travailler, votre
        “propre méthode” et prouver qu’elle fonctionne. N'hésitez pas à décrire le déroulement d’un cours type et à
        utiliser des exemples pour illustrer votre propos, ne vous contentez pas d’écrire quelques expressions toutes
        faites trouvées sur internet... <b>soyez original, soyez convainquant</b> ! C’est sur base de ce texte que votre
        lecteur va décider d’avoir cours avec vous, ou pas. Pour lui vous êtes un inconnu, à fortiori si vous avez
        choisi de ne pas montrer de photo de vous, ni publier votre numéro de téléphone (cf plus haut).
      %hr
      %h3 Les tarifs de vos prestations
      %p
        La fixation de vos prix est quelque chose de crucial: cela permettra de <b>vous positionner sur le marché du cours
        particulier</b>. Afin de tâter le terrain vous pouvez rester vague et ne pas  préciser vos tarifs dans votre annonce.
        Vous aurez peut être un peu plus d'appels mais vous risquez d’être confronté à des attentes farfelues. En tout
        cas si vous avez un peu d'expérience et/ou que vous demandez 20 €/h, écrivez le dans votre annonce. De toute
        façon, tôt ou tard, vous devrez bien communiquer vos tarifs aux élèves intéressés..

      %p
        Pour vous aider à trouver un prix qui vous convient, nous avons établi une fourchette de prix indicative:
        <b>une personne qui a l’habitude de donner cours demandera de 10 à 20 €/h au niveau collège ou débutant, de
        15 à 25 €/h au niveau lycée ou intermédiaire et de 20 à 30 €/h, voir beaucoup plus, dans les études supérieures
        ou niveau avancé</b>. N'hésitez pas à établir votre propre fourchette de prix en examinant des offres de cours
        particuliers similaires à la vôtre (même niveau, même matière, même expérience, etc…).

      %p
        Si vous ne possédez pas ou peu d’expérience dans l’enseignement, nous vous conseillons de commencer avec un
        prix dans le bas de la fourchette pour vous rendre plus attractif et gagner de l’assurance. Quoi qu’il en soit,
        <b>ne demandez pas moins de 10 €/h sans quoi vous ne serrez pas crédible</b>!
      %p
        Si vous avez un peu d'expérience, nous vous recommandons de viser le milieu de la fourchette de prix,
        pratiquez vos anciens prix pendant quelques mois avec vos anciens élèves. Certains élèves vous diront
        peut-être que vos prix sont trop élevés. Cela signifie probablement que votre profil ne reflète pas suffisamment
        votre expérience. Dans ce cas: il faut l’améliorer ! N’hésitez pas à solliciter de l’aide, notamment auprès de
        l’équipe Qwerteach.
      %p
        Si vous avez beaucoup d’expérience et/ou des compétences pointues dans un domaine recherché, vous pouvez
        envisager de fixer vos prix dans le haut de la fourchette, voir plus. Attention, votre niveau de
        professionnalisme doit être cohérent avec le prix de vos cours!
      %p
        Vous pouvez considérer que vous avez de l’expérience dès que vous avez deux ou trois élèves franchement
        satisfaits de vos cours en ligne (demandez-leur de vous laisser une appréciation !).
      %p
        Avec une dizaine d'appréciations élogieuses, vous pouvez vous considérer comme ayant beaucoup d'expérience.

      %p
        <b>Si vous souhaitez donner des cours gratuitement, que ce soit pour un premier cours d'essai ou pour le plaisir,
        sachez que Qwerteach vous soutient!</b> Assurez-vous du sérieux de vos élèves, sans quoi ils risquent d’oublier
        vos rendez-vous. Nous avons observé que malheureusement, certains élèves ont tendance à avoir moins de respect
        pour tout ce qui est gratuit.
      %p
        Enfin, si vous refusez des cours par manque de temps, n’ayez pas peur d'augmenter vos prix, vous aurez
        probablement un peu moins de demande, mais vous serez moins fatigué, et vos élèves en bénéficieront. Au final
        vos cours seront plus agréables et de meilleure qualité. Pour ne pas laisser un élève en demande sans prof,
        n’hésitez pas à <b>poster un petit mot sur la communauté facebook</b> pour lui trouver un autre professeur capable
        de l’aider.
      %hr



