= render :partial => 'header', locals:{title: 'Poster des annonces'}
.container
  .row
    .col-sm-3.col-md-offset-1
      = render :partial => 'navigation'
    .col-sm-9.col-md-7
      %p
        L'équipe derrière Qwerteach essaye par tous les moyens de faire connaître notre service, mais celà ne vous empêche pas de mettre en avant vos cours et compétences!
        %br
        Pour celà, rien de tel que les petites annonces. Vous trouverez ci-dessous nos conceils pour rédiger vos annonces, où les poster et comment les illustrer, pour qu'elles vous apportent en maximum d'élèves. Bonne chance!
      %h3 Rédiger des annonces qui marchent
      %h4 Le titre:
      %p
        Le titre de votre annonce sera déterminant car il représentera la première information que les potentiels intéressés auront de vous. Il est donc préférable d’être concis et d’utiliser des mots clés (par exemple : « cours de soutien Mathématiques Baccalauréat S »). Ne mentionnez pas que les cours sont dispensés en ligne, nous reviendrons sur ce point plus tard.

      %h4 Le contenu:
      %p La rédaction de votre annonce peut suivre un schéma classique, il est de votre ressort de vous mettre le plus en valeur possible. Pensez à bien vous présenter, ainsi que vos compétences et votre background en termes d’enseignement. Concernant le fait de préciser que vos cours sont dispensés en ligne, deux choix s’offre à vous :
      %p Vous pouvez préciser cela en fin d’annonce, après vous être présenter. De cette façon, les personnes réticentes auront déjà pris connaissance de votre profil et seront donc moins susceptibles d’être découragées dès le début. Si vous précisez que les cours sont donnés en ligne, vous devez par la suite lister les aspects positifs de cette méthode : frais plus faibles, pas de transport, etc… Mais il vous faudra également rassurer le prospect par rapport à la fiabilité de Qwerteach, étant le prestataire du service.
      %p Vous pouvez également ne pas mentionner dans l’annonce que vos cours sont dispensés via l’internet. Vous devrez alors expliquer cela lorsque les intéressés prendront contact avec vous. Vous devez garder à l’esprit que cette méthode de soutien scolaire découragera un certain nombre de clients potentiels dans un premier temps, il est donc de votre ressort d’en montrer les meilleurs avantages lorsque vous devrez en parle

      %h4 Photos:
      %p L’image jointe avec votre annonce doit être sélectionnée avec soin, elle permettra aux potentiels intéressés d’être rassurés par rapport à la crédibilité de votre offre. Le but étant de montrer qu’il y a bien quelqu’un derrière votre annonce. Cependant, plusieurs écueils sont à éviter :
      %ul
        %li Une photo de vous (type photo de passeport) peut être inapproprié. Cette image sera visible sur internet et pourra attirer des personnes mal intentionnées.
        %li Favorisez une image en relation avec le service que vous proposez : CV, photo de cours, image en relation avec la matière que vous enseigniez, screen shot d’avis positifs d’anciens élèves, etc… Ainsi, votre annonce sera crédible et attractive pour de potentiels élèves, sans trop divulguer d’informations personnelles de vous.

      %h4 Coordonnées:
      %p Vos coordonnées sont les différents moyens par lesquels un potentiel intéressé pourra vous joindre, elles doivent apparaitre à la fin de votre annonce. Vous devez tout de même prendre des précautions, il est par exemple fortement déconseillé d’inscrire votre numéro de téléphone pour ainsi éviter d’être joint par n’importe qui sur votre ligne personnelle. Nous vous conseillons de privilégier une adresse E-mail spécialement dédiée à cet usage, au cas ou vous receviez beaucoup de demande pour ainsi ne pas saturer votre boîte personnelle.

      %h3 Les différents sites sur lesquels poster
      %p
        Poster votre annonce sur un site web vous permettra de toucher une audience plus large et déjà connectés, ce qui est un plus lorsque l'on souhaite donner des cours via internet.
        %br
        Si vous devez introduire une localisation pur vos services, essayez de viser de petites villes de province, entre 30.000 et 100.000 habitants. Ainsi, vous rentrerez moins en concurence avec des services de cours particuliers classiques, et vous adresserez à un public pour qui les cours en ligne sont une réelle plus-value.
      .col-sm-6
        %h5 En France
        %ul
          %li
            = link_to 'Le bon coin', 'http://www.leboncoin.fr'
          %li
            = link_to 'Top annonces', 'http://www.topannonces.fr'
          %li
            = link_to 'Vivastreet', 'http://www.vivastreet.fr'
      .col-sm-6
        %h5 En Belgique
        %ul
          %li
            = link_to 'Quefaire', 'http://www.quefaire.be'
          %li
            = link_to '2ème main', 'http://www.2ememain.be'
          %li
            = link_to 'Vivastreet', 'http://www.vivastreet.be'



