- saved_room = BbbRoom.where(:param => @room.param).first
- lesson = saved_room.lesson
- @moi =  current_user.id
- @autre =  (current_user == lesson.teacher) ? lesson.student.id : lesson.teacher.id
:javascript
  var meetingRunning = false;
  var partnerOnline = false;
  function is_meeting_running()
  {
    $.ajax({
      url: "#{running_bigbluebutton_room_url(@room, :format => 'json')}",
      dataType: 'json',
      error: function (xhr_data) {
        $("#meeting_status").html("<request error>.");
        setTimeout(function () {
          is_meeting_running();
        }, 10000);
      },
      success: function (xhr_data) {
        if (xhr_data.running == 'false') {
          $("#meeting_status").html("Cette classe n'est pas disponible pour le moment. Si vous pensez qu'ils s'agit d'une erreur, contactez l'équipe du site.");
          is_partner_online();
          meetingRunning = false;
        } else {
          $("#meeting_status").html("Votre partenaire vous attend dans la classe virtuelle!");
          is_partner_online();
          meetingRunning = true;
        }
        setTimeout(function () {
          is_meeting_running();
        }, 10000);
      },
      contentType: 'application/json'
    });
  }

  function is_partner_online() {  
    $.ajax({
      url: "#{url_for(:controller => 'users', action: 'both_users_online',:user_current => @moi, :user_other => @autre)}",
      dataType: 'json',
      error: function (xhr_data) {
      },
      success: function (xhr_data) {
        if (xhr_data.online == 'true' || meetingRunning) {
          $("#join_link").html('');
          var a = document.createElement('a');
          var linkText = document.createTextNode("Rejoindre la classe");
          a.appendChild(linkText);
          a.title = "Rejoindre la classe";
          a.href = "#{join_bigbluebutton_room_url(@room)}";
          a.target= "_blank";
          $('#join_link').append(a)
        } 
        else {
          $("#meeting_status").html('Votre partenaire n\'est pas encore connecté.');
          $("#join_link").html('');
        }
      },
      contentType: 'application/json'
    });
  }

  $(document).on('turbolinks:load',  function () {
    is_meeting_running();
  });
%h2.page-title-green Votre classe virtuelle pour #{@room.name}
.container
  -unless @bbbRoom.lesson.nil?
    .row
      .col-sm-2
      .col-sm-8
        Cours avec: #{@bbbRoom.lesson.other(current_user).name}
        %br
        Matière: #{@bbbRoom.lesson.topic.title}
        %br
        Niveau: #{@bbbRoom.lesson.level.be}
        %br
        Durée: #{@bbbRoom.lesson.duration.hours}h#{@bbbRoom.lesson.duration.minutes}
        %br
  .row
    .col-sm-2
    .col-sm-8
      %p
        %span#meeting_status -
      #join_link
