- saved_room = BbbRoom.where(:param => @room.param).first
- lesson = saved_room.lesson
- @moi =  current_user.id
- @autre =  (current_user == lesson.teacher) ? lesson.student.id : lesson.teacher.id

%h2.page-title-green Votre classe virtuelle pour #{@room.name}
.container
  -unless @bbbRoom.lesson.nil?
    .row
      .col-sm-2
      .col-sm-8
        Cours avec: #{@bbbRoom.lesson.other(current_user).name}
        %br
        Matière: #{@bbbRoom.lesson.topic.title}
        %br
        Niveau: #{@bbbRoom.lesson.level.be}
        %br
        Durée: #{@bbbRoom.lesson.duration.hours}h#{@bbbRoom.lesson.duration.minutes}
        %br
  .row
    .col-sm-2
    .col-sm-8
      %p
        %span#meeting_status -
      #join_link
