:javascript
  $(document).on('turbolinks:load',  function(){
    window.location.href = "#{@join_mobile}";
  });
%h1
  Rejoindre la classe virtuelle "#{@room.name}" via mobile:
%div{:style => "text-align:center; width:250px;"}
  %span Nous vous redirigeons vers la classe virtuelle sur votre aparil mobile.
  %br/
  %div
    %span Si vous n'êtes pas automatiquement redirigé, assurez-vous d'avoir bien installé le vlient correspondant à votre appareil:
    %div
      = link_to(mobile_google_play_link, :class => "mobile-download-image") do
        = image_tag mobile_google_play_image, :alt => "Download the Android client", :title => "Pour Android"
    %div
      = link_to(mobile_apple_store_link, :class => "mobile-download-image") do
        = image_tag mobile_apple_store_image, :alt => "Download the iOS client", :title => "Pour iOS"
  %br/
  %div
    = link_to "Vous avez le client mais n'êtes pas redirigé? Cliquez ici pour ré-essayer.", @join_mobile
  %br/
  %div
    = link_to "Si vous n'êtes pas sur mobile, cliquez ici pour rejoindre la version pour ordinateur.", @join_desktop
