.dispute-messages.bootstrap-wrapper
  %ul.nav.nav-tabs
    - cut_class = groups.count>2 ? 'cut' : ''
    - groups.each_with_index do |chat, index|
      %li
        - title = "#{chat[:subject]} (#{(chat.try(:count_messages) || chat[:count_messages])})"
        %a.tabnav(data-toggle="tab" href="#chat_#{index}" title="#{title}" class="#{cut_class}")
          = title
  .tab-content
    - groups.each_with_index do |chat, index|
      .tab-pane.fade(id="chat_#{index}")
        .pre-scrollable
          = render 'conversations/messages', messages: chat.try(:messages) || chat[:messages]

        = form_tag messages_path do
          = hidden_field_tag 'message[conversation_id]', chat[:id]
          = hidden_field_tag 'message[recipient]', (chat.try(:recipients) || chat[:recipients]).map(&:id).join(' ')
          = hidden_field_tag 'message[subject]', chat[:subject]
          = hidden_field_tag 'message[to_back]', to_back
          .row
            .col-sm-10= text_area_tag 'message[body]', nil, rows: 2, class: 'form-control', placeholder: 'Type something...', required: true
            .col-sm-2= submit_tag 'Submit'
          - if chat[:id].to_i.zero?
            %span.text-pink= t 'message_pusher.minimum_chars'
  = paginate groups
  = content_for(:javascript) do
    :javascript
      if(typeof($) !== 'undefined'){
        $(document).ready(function(){
          $('.dispute-messages .nav-tabs li').first().find('a').click()
        })
      }