= content_for(:title) do
  = display_resource_name(page.resource_name)

.card-header.bordered
  .header-block
    %h3.title= content_for(:title)
  .header-block.pull-right
    %div
      - DisputeDashboard::COLLECTION_SCOPES.each do |name|
        = link_to( |
          t("admin.dispute.scope.#{name}", default: name), |
          [namespace, :disputes, q: {name => true}], |
          class: "btn btn-primary #{name}") |
      = link_to("New #{page.resource_name.titleize.downcase}", [:new, namespace, page.resource_name], class: 'btn btn-primary')
.card-block
  .table-responsive
    = render 'collection_index', collection_presenter: page, resources: resources, search: search
  = paginate resources
