= content_for(:title) do
  = display_resource_name(page.resource_name)

%header.header
  %h1.header__heading#page-title= content_for(:title)


  -# if scopes.present?
  .header__actions
    - DisputeDashboard::COLLECTION_SCOPES.each do |name|
      = link_to( |
        t("admin.despute.scope.#{name}", default: name), |
        [namespace, :disputes, q: {name => true}], |
        class: "button #{name}") |


  .header__actions
    = link_to("New #{page.resource_name.titleize.downcase}", [:new, namespace, page.resource_name], class: 'button')

= render 'collection', collection_presenter: page, resources: resources

= paginate resources
