
= content_for(:title) { page.page_title }

%header.header
  %h1.header__heading= content_for(:title)
  .header__actions
    = link_to('Edit', [:edit, namespace, page.resource], class: 'button') unless page.resource.finished?

%dl
  - page.attributes.each do |attribute|
    %dt.attribute-label
      = t("helpers.label.#{resource_name}.#{attribute.name}", default: attribute.name.titleize)
    %dd.attribute-data(class="attribute-data--#{attribute.html_class}")=render_field attribute

  %dt.attribute-label Price
  %dd.attribute-data= page.resource.lesson.price

  - if page.resource.bbb_room.present?
    %dt.attribute-label Big blue button room
    %dd.attribute-data
      = page.resource.bbb_room.name
      - if page.resource.bbb_room.recordings.present?
        = link_to('Recordings', recordings_bigbluebutton_room_path(page.resource.bbb_room))

    - page.resource.bbb_room.recordings.each do |record|
      %dt.attribute-label &nbsp;
      %dd.attribute-label=record.name

  %dt.attribute-label Messages
  %dt.attribute-data
    = render partial: 'messages', locals: {dispute: page.resource}

  - unless page.resource.finished?
    %dt.attribute-label Divide money
    %dd.attribute-data
      = link_to( |
        t('admin.despute.link.to_teacher'), |
        [namespace, page.resource, :divide_sum, amount: page.resource.lesson.price], |
        class: 'button to_teacher', |
        method: :post )
      -#
      = link_to( |
        t('admin.despute.link.to_student'), |
        [namespace, page.resource, :divide_sum, amount: '0'], |
        class: 'button to_student', |
        method: :post )
      -#
      = link_to( |
        t('admin.despute.link.divide_money'), |
        '#', |
        class: 'button', |
        data: {toggle: 'modal', target: '#divide_money'} ) |

.bootstrap-wrapper
  #divide_money.modal(role='dialog')
    .modal-dialog
      = form_tag [namespace, page.resource, :divide_sum], class: 'modal-content' do
        .modal-header
          %button.close(data-dismiss='modal' type='button') ×
          %h4.modal-title To devide money
        .modal-body
          %p Quel est le montant devrait être transféré à l'enseignant?
          = number_field_tag(:amount, page.resource.lesson.price, {min: 0, max: page.resource.lesson.price})
          %p.pull-right
            %span.text-danger *
            %span.text-info l'argent restant reste avec l'étudiant
          %br
        .modal-footer
          = submit_tag 'Diviser l\'argent', class: 'btn btn-default'
          %button.btn.btn-default(data-dismiss='modal' type='button') Cancel
