.test-become-teacher
  %nav.empty-nav
    .container
      .pull-left
        =link_to root_path do
          .logo= image_tag('logo.ico')
  %header
    .container
      %div
        %h1.text-black.text-left
          L'aide scolaire 2.0
        %h1.text-black.text-left.text-light Enseignez depuis votre canapé
      .form.absolute.material-form
        %h3.text-black.text-left S'inscrire maintenant
        =render partial: 'devise/registrations/new_form'
  %header.f1
    .header-content
      .header-content-inner
  %section#white
    .container
      .overflow
        %h2.section-heading
          Une nouvelle façon
        %h2.section-heading.text-light
          d'enseigner
        .row#arguments
          .col-md-4
            .service-box
              =image_tag('acceuil/teacher.svg')
              %h3 Enseignez où vous voulez
              %p.text-left Depuis votre canapé, en vacances à l'étranger... Avec Qwerteach vous êtes libres d'enseigner où vous voulez!
          .col-md-4
            .service-box
              =image_tag('acceuil/timing.svg')
              %h3 A vos horaires
              %p.text-left Donnez cours le week-end, en soirée, ou à temps plein, à vous de choisir. Vous êtes le patron, vous fixez vos horaires de travail.
          .col-md-4
            .service-box
              =image_tag('acceuil/landing_payement.svg')
              %h3 Gagnez de l'argent
              %p.text-left Vous choisissez vous-même votre tarif, et Qwerteach sécurise vos payements. Ainsi, vous pouvez vous concentrer sur l'essentiel: la réussite de vos élèves.
  %section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h2.section-heading Enseignez en toute liberté
          %hr.light/
          %p.text-faded
            Vous en avez assez de perdre votre temps dans les transports, et de travailler pour des agences? <br />Qwerteach est fait pour vous!
          %p.text-faded
            Donnez vos cours particuliers où et quand vous voulez, à votre rythme et à votre propre tarif.
            Grâce à Qwerteach, vous pouvez vous concentrer sur l'essentiel: accompagner vos élèves vers la réussite!
          = link_to 'Poser ma candidature', new_user_registration_path, class: 'btn btn-default btn-qw become-teacher'
  %section#services
    .container
      .row
        .col-lg-12.text-center
          %h2.section-heading A votre service
          %hr.primary/
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-diamond.text-primary.sr-icons
            %h3 Votre travail est reconnu
            %p.text-muted Bénéficiez du feedback de vos élèves et créez votre réputation
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
            %h3 En toute liberté
            %p.text-muted Vous choisissez vos élèves, votre tarif, vos plages horaires
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
            %h3 Une nouvelle façon d'enseigner
            %p.text-muted Variez vos durées de cours, innovez dans vos méthodes
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-heart.text-primary.sr-icons
            %h3 L'essentiel
            %p.text-muted Accompagnez vos élèves vers la réussite!
  %section#portfolio.no-padding
    .container-fluid
      .row.no-gutter.popup-gallery
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "img/portfolio/fullsize/1.jpg"}
            %img.img-responsive{:alt => "", :src => "img/portfolio/thumbnails/1.jpg"}/
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "img/portfolio/fullsize/2.jpg"}
            %img.img-responsive{:alt => "", :src => "img/portfolio/thumbnails/2.jpg"}/
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "img/portfolio/fullsize/3.jpg"}
            %img.img-responsive{:alt => "", :src => "img/portfolio/thumbnails/3.jpg"}/
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "img/portfolio/fullsize/4.jpg"}
            %img.img-responsive{:alt => "", :src => "img/portfolio/thumbnails/4.jpg"}/
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "img/portfolio/fullsize/5.jpg"}
            %img.img-responsive{:alt => "", :src => "img/portfolio/thumbnails/5.jpg"}/
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "img/portfolio/fullsize/6.jpg"}
            %img.img-responsive{:alt => "", :src => "img/portfolio/thumbnails/6.jpg"}/
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
  %aside.bg-dark
    .container.text-center
      .call-to-action
        %h2 Rejoignez la communauté!
        = link_to 'Devenir prof', new_user_registration_path, class: 'btn btn-default btn-qw become-teacher'
  %section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h2.section-heading Contactez-nous!
          %hr.primary/
          %p Vous êtes prêts à découvrir une nouvelle façon d'enseigner, mais il vous reste quelques questions? Notre équipe est à votre disposition.
        .col-lg-4.col-lg-offset-2.text-center
          = link_to '#', class: 'open-tawk' do
            %i.fa.fa-comments-o.fa-3x.sr-chat.text-black
            %p "chat"
        .col-lg-4.text-center
          %i.fa.fa-envelope-o.fa-3x.sr-contact
          %p
            = link_to "mailto:hello@qwerteach.com", "mailto:hello@qwerteach.com"