.price
  %h4= offer.topic.topic_group.title
  - if (offer.topic.title=="Autre")
    %p
      #{offer.other_name}
  - else
    %p
      #{offer.topic.title}
  - prices = offer.offer_prices
  - prices.each { |p|
  %dd
    = p.level.fr
    \: #{ActionController::Base.helpers.number_to_currency(p.price)}
  - }