.container-fluid
  = render partial: 'users/profile/profile_header'
.container
  #header-anchor
  .row
    .col-sm-7
      #profile-description
        %h3 A propos de #{@user.firstname}
        = render partial: 'users/profile/video' if @user.video_url.present?
        %hr
        %p
          #{@user.description.gsub(/\n/, '<br />').html_safe unless @user.description.nil?}
      - if @user.is_a?(Teacher)
        #profile-calendar{data: {teacher:{id: @user.id}}}
    .col-sm-1
    .col-sm-4
      - if @user.is_a?(Teacher)
        #profile-offers
          .row
            =render partial: 'users/profile/profile_offers', locals:{offers: @offers, offers_single: @offers_single}
  .row
    - if @user.is_a?(Teacher)
      #profile-reviews.col-xs-7
        - unless @reviews.empty?
          %hr
          = render partial: 'users/profile/profile_reviews', locals:{reviews: @reviews}
      .similar-teachers
      .clearfix
- if @user.is_a?(Teacher)
  = render partial: 'lesson_requests/detailed_pricing_modal', locals:{offers: @user.offers.joins(:topic_group)}
= render partial: 'users/profile/contactform', locals:{me: @me, user: @user, new: @conversation.empty?} if current_user
