.featurette.section_choix
  =link_to profs_by_topic_path('maths') do
    .matiere
      = image_tag("matieres/maths.png", :class => "image_presse img-responsive")
      %h3 Maths
  =link_to profs_by_topic_path('sciences') do
    .matiere
      = image_tag("matieres/sciences.png", :class => "image_presse img-responsive")
      %h3 Science
  =link_to profs_by_topic_path('français') do
    .matiere
      = image_tag("matieres/francais.png", :class => "image_presse img-responsive")
      %h3 Français
  =link_to profs_by_topic_path('informatique') do
    .matiere
      = image_tag("matieres/informatique.png", :class => "image_presse img-responsive")
      %h3 Informatique
  =link_to profs_by_topic_path('anglais') do
    .matiere
      = image_tag("matieres/anglais.png", :class => "image_presse img-responsive")
      %h3 Anglais
  =link_to profs_by_topic_path('neerlandais') do
    .matiere
      = image_tag("matieres/neerlandais.png", :class => "image_presse img-responsive")
      %h3 Néerlandais
  .tous
    =link_to 'Toutes les matières', profs_path, :class=>'opacity_hover btn btn-qw btn-pink'