.section_carrousel
  #myCarousel.carousel.slide{"data-ride" => "carousel", :class => "100window"}
    //Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    //Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        = image_tag(image_path("acceuil/landing_eleve.svg"), :class => "image_carrousel img-responsive img_slide2")
        %div{:class => "right"}
          %h2 Les cours particuliers depuis votre canapé
          %p.text-white Grâce à notre classe virtuelle intuitive et simple d’utilisation, combinant tableau interactif et vidéoconférence, trouvez un prof et prenez vos cours particuliers en direct
          %div
            - if current_user
              = link_to 'Voir les profs', profs_path, class: 'btn btn-qw btn-green'
            - else
              = link_to 'Inscription gratuite', new_user_registration_path, class: 'btn btn-qw btn-green'

      .item
        = image_tag(image_path("acceuil/landing_prof.svg"), :class => "image_carrousel img-responsive img_slide1")
        %div{:class => "left"}
          %h2 Les meilleurs profs
          %p.text-white Même dans les matières les plus pointues, les professeurs sont certifiés grâce à un entretien individuel, ils sont ensuite évalués à la fin de chaque séance
          %div
            = link_to 'Devenir prof', pages_path('devenir-prof'), class: 'btn btn-qw btn-green' unless current_user.is_a?(Teacher)
            = link_to 'Charte du prof', faq_path('teachers'), class: 'btn btn-qw btn-green' if current_user.is_a?(Teacher)

      .item
        = image_tag(image_path("acceuil/landing_payement.svg"), :class => "image_carrousel img-responsive img_slide1 margin-right-30")
        %div{:class => "left"}
          %h2 Le soutien scolaire en toute confiance
          %p.text-white Nous sommes là pour vous aider à trouver le professeur qu’il vous faut. Payez à la réservation, l’argent lui sera versé à la fin du cours.
          %div
            = link_to 'En savoir plus', faq_path(:parents, :payments)

    %a.left.carousel-control.100window{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
      = image_tag(image_path("acceuil/flecheg.png"))
    %a.right.carousel-control.100window{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
      = image_tag(image_path("acceuil/fleched.png"))