.section_bigimage{"data-vide-bg" => "mp4: #{video_path('landing.mp4')} , webm: #{video_path('landing.webm')} , poster: #{image_path('acceuil/bigimage.jpg')}",
      "data-vide-options" => "posterType: jpg, loop: ture, muted: true, position: 50% 50%",
      "data-turbolinks-temporary" => true}
  .title
    %h1
      Le bon prof
      %br
      au bon moment
    %h2 Trouvez votre professeur pour un cours particulier en ligne
    %br
    = link_to 'Inscription', new_user_registration_path, class: 'btn btn-qw btn-green'
  .searchbar
    = render partial: 'pages/accueil/partie_recherche'
  .mode_emploi
    %a.toggleCCM Mode d'emploi
