.inside
  - profs.each_with_index do |prof, index|
    .prof{id: "prof#{index}", style: "background-image: url(#{image_path prof.avatar.url(:large)})"}
      %p
        %span.name
          = link_to "#{prof.firstname} #{prof.lastname}", user_path(prof)
        %br
        %span.topics
          = prof.offers.map{|ad| link_to ad.title, profs_by_topic_path(ad.title)}.join(', ').html_safe