- collection_presenter.attribute_types.each do |attr_name, attr_type|
  %th{:class => "cell-label cell-label--#{attr_type.html_class} cell-label--#{collection_presenter.ordered_html_class(attr_name)}", :scope => "col"}
    = link_to(sanitized_order_params(collection_presenter, resource_name).merge( collection_presenter.order_params_for(attr_name))) do
      = t( "helpers.label.#{resource_name}.#{attr_name}", default: attr_name.to_s).titleize
      - if collection_presenter.ordered_by?(attr_name)
        %span{:class => "cell-label__sort-indicator"}
          = icon("sort-amount-#{collection_presenter.ordered_html_class(attr_name)}")