%nav.menu
  %ul#sidebar-menu.sidebar-menu.metismenu(role='navigation')
    %li{class: nav_link_state(:home)}
      = link_to admin_root_path do
        = icon 'fal', 'home'
        Dashboard
    %li{class: nav_link_state(:users)}
      = link_to [namespace, User] do
        = icon 'fal', 'users'
        All Users
    %li{class: ('active open' if nav_link_state(:teachers) == :active)}
      = link_to '' do
        = icon 'fal', 'graduation-cap'
        Teachers
        %i.fa.arrow
      %ul.sidebar-nav.collapse
        %li{class: nav_link_state(:postuling_teachers)}
          = link_to("Postuling (#{@number_of_postuling_teachers})", [:postuling, namespace, Teacher])
        %li{class: nav_link_state(:approved_teachers)}
          = link_to("Approved (#{@number_of_teachers})", [namespace, Teacher])
        %li{class: nav_link_state(:inactive_teachers)}
          = link_to('Inactive ', [:inactive, namespace, Teacher])
    %li{class: nav_link_state(:masterclasses)}
      = link_to([namespace, :masterclasses]) do
        = icon 'fal', 'bullseye'
        Masterclasses
    -#%li{class: nav_link_state(:pictures)}
    -#  = link_to([namespace, Picture]) do
    -#    = icon 'user-circle-o'
    -#    Avatars
    -#%li{class: nav_link_state(:bigbluebutton_servers)}
    -#  = link_to([namespace, BigbluebuttonServer]) do
    -#    = icon('server')
    -#    BBB Server
    -#%li{class: nav_link_state(:bigbluebutton_recordings)}
    -#  = link_to([namespace, BigbluebuttonRecording]) do
    -#    = icon('video-camera')
    -#    All Recordings
    %li{class: nav_link_state(:lessons)}
      = link_to([namespace, Lesson]) do
        = icon('fal', 'book')
        Lessons
    %li{class: nav_link_state(:disputes)}
      = link_to([namespace, :disputes]) do
        = icon 'fal', 'thumbs-o-down'
        Disputes (#{@number_of_disputes_started})
    -#%li{class: nav_link_state(:payments)}
    -#  = link_to([namespace, Payment]) do
    -#    = icon('money')
    -#    Payments (#{@number_of_disputes})
    %li{class: nav_link_state(:conversations)}
      = link_to([namespace, Conversation]) do
        = icon 'fal', 'weixin'
        Conversations
    %li{class: nav_link_state(:global_requests)}
      = link_to([namespace, GlobalRequest]) do
        = icon 'fal', 'buoy'
        Demandes de cours
    %li{class: nav_link_state(:reviews)}
      = link_to([namespace, Review]) do
        = icon 'fal', 'star-half-full'
        Reviews
    %li{class: ('active open' if nav_link_state(:reports) == :active)}
      = link_to '' do
        = icon 'fal', 'th-list'
        Reports
        %i.fa.arrow
      %ul.sidebar-nav.collapse
        %li{class: nav_link_state(:lessons_reports)}
          = link_to 'Lessons reports', [namespace, :reports, :lessons]
        %li{class: nav_link_state(:clients_reports)}
          = link_to 'Clients reports', [namespace, :reports, :clients]
        %li{class: nav_link_state(:teachers_reports)}
          = link_to 'Teachers reports', [namespace, :reports, :teachers]
        %li{class: nav_link_state(:activity_report)}
          = link_to 'Activity reports', [namespace, :reports, :activity]
    %li{class: nav_link_state(:banned_users)}
      = link_to([namespace, :banned_users]) do
        = icon 'fal', 'user-times'
        Banned users
