- content_for(:title) do
  = display_resource_name(page.resource_name)
- content_for(:search) do
  - if local_assigns[:show_search_bar]
    = render "search", search_term: search_term
.card-header.bordered
  .header-block
    %h3.title= content_for(:title)
  .header-block.pull-right
    %div
      = link_to(                                                                      |
          "#{t("administrate.actions.new")} #{page.resource_name.titleize.downcase}", |
          [:new, namespace, page.resource_path],                                      |
          class: "btn btn-primary",                                                            |
        ) if valid_action? :new
.card-block
  .table-responsive
    = render "collection", collection_presenter: page, resources: resources
  = paginate_admin resources
