.card-header.bordered
  - content_for(:title) { "#{t("administrate.actions.show")} #{page.page_title}" }
  .header-block{:role => "banner"}
    %h3.title= content_for(:title)
  .header-block.pull-right
    = link_to(                                                  |
        "#{t("administrate.actions.edit")} #{page.page_title}", |
        [:edit, namespace, page.resource],                      |
        class: "btn btn-primary",                               |
      ) if valid_action? :edit                                  |
    = link_to(                                                      |
        "#{t("administrate.actions.destroy")} #{page.page_title}",  |
        [:edit, namespace, page.resource],                          |
        class: "btn btn-danger",                                    |
      ) if valid_action? :destroy                                   |

.card-block.main-content__body
  %table.table-min.table-striped
    - page.attributes.each do |attribute|
      %tr
        %td.attribute-label
          = t("helpers.label.#{resource_name}.#{attribute.name}", default: attribute.name.titleize)
        %td{:class => "attribute-data attribute-data--#{attribute.html_class}"}
          - if attribute.data != "" && !attribute.data.nil?
            = render_field attribute
          - else
            ="-"
