.card-header.bordered
  - content_for(:title) { "#{t("administrate.actions.show")} #{page.page_title}" }
  .header-block{:role => "banner"}
    %h3#page-title.title= content_for(:title)
  .header-block.pull-right
    = link_to(                                                  |
        "#{t("administrate.actions.edit")} #{page.page_title}", |
        [:edit, namespace, page.resource],                      |
        class: "btn btn-primary",                               |
      ) if valid_action? :edit                                  |

.card-block.main-content__body
  %table.table-min.table-striped.table-bordered
    - page.attributes.each do |attribute|
      %tr
        %td.attribute-label
          = t(                                                    |
              "helpers.label.#{resource_name}.#{attribute.name}", |
              default: attribute.name.titleize,                   |
            )                                                     |
        %td{:class => "attribute-data attribute-data--#{attribute.html_class}"}= render_field attribute
