.card-title
  Comptes et cartes bancaires
- @cards.first(3).each do |card|
  .row.valign-wrapper
    .col-xs-2.text-right
      %i.material-icons.tiny.text-purple credit_card
    .col-xs-10
      .card-type= card.card_provider
      .card-number.text-grey
        = card.alias
        #{" - "}
        = card.expiration_date.insert(2, "/20")
%hr
- @bank_accounts.each do |ba|
  .row.valign-wrapper
    .col-xs-2.text-right
      %i.material-icons.tiny.text-blue account_balance
    .col-xs-10
      .account-type= ba.type
      .account.text-grey= ba.iban