#mangopay_index
  .container-fluid
    = render partial: 'header'
  .container
    .row
      = link_to 'Retour', index_wallet_path
    - unless @user.mango_id.nil?
      .row
        %h3 Comptes bancaires
        .cards-wrapper
          - @bank_accounts.each do |ba|
            .col-xs-3
              .card.card-bank-accounts
                .card-content
                  .row
                    .col-xs-2.text-right
                      %i.material-icons.tiny.text-blue account_balance
                    .col-xs-10
                      .account-type= ba.type
                      .account.text-grey= ba.iban
          .col-xs-3
            .card
              .card-content
                .text-center
                  = link_to '#modal-add-bank-account', data:{toggle: 'modal'} do
                    %i.fa.fa-plus.fa-2x
                    %br
                    Ajouter un compte bancaire

      .row
        %h3 Cartes de crédit
        - @cards.each do |card|
          -if card.active
            .col-xs-3
              .card.card-bank-accounts
                .card-content
                  .row
                    .col-xs-2
                      %i.material-icons.tiny.text-purple credit_card
                    .col-xs-10
                      .card-type=card.card_provider.titleize
                      .card-number.text-grey
                        = card.alias
                        %br
                        = card.expiration_date.insert(2, "/20")
    .row
      %h3 Mes coordonnéees
      .col-xs-12
        - if @user.mango_id.nil?
          = render :partial => 'no_account_alert'
        .card.card-coordonees-form
          .card-content
            = render 'mangopay_form', :path => @path
- unless @user.mango_id.nil?
  .modal.fade#modal-add-bank-account
    .modal-dialog
      .modal-content
        .modal-body
          .row
            .col-xs-12
              = render 'mangopay/bank_accounts/new', bank_account: @bank_account

