#contact-modal.modal.fade
  .modal-dialog{role:'document'}
    .modal-content
      = form_tag messages_path, method: :post, remote: true do
        .modal-header
          %button.close{type:'button', data:{dismiss: 'modal'}}
            %span &times
          %h4 Envoyer un message à #{user.name}
        .modal-body
          = hidden_field_tag 'message[subject]', "#{me.name} vous pose une question!"
          = hidden_field_tag 'message[recipient]', user.id
          .form-group
            = text_area_tag 'message[body]', nil, rows: 5,
              placeholder: "Posez une question à #{user.firstname}", class: "form-control #{ "character-count" if @conversation.empty? }", data:{length:50}, required: true
            -if @conversation.empty?
              %span.text-pink
                Minimum 50 caractères.
          = submit_tag 'Envoyer', class: 'btn btn-qw btn-green'
:javascript
  $('#contact-modal form').submit(function(){
    $('#contact-modal').modal('hide');
  });
- if @conversation.empty?
  $('#message_body').characterCounter();
