
- offers.each do |offer|
  .col-sm-6
    .card.sticky-action
      .card-content
        .card-title.activator
          .pull-left
            = image_tag(offer.topic.pictotype(:grey_small))
          #{offer.topic.title}
          %i.fa.fa-ellipsis-v.pull-right
          %br
          %small
            Jusqu'au niveau #{offer.max_level} -
            .text-green
              #{offer.min_price} €/h
      .card-action
        = link_to 'Réserver', new_user_lesson_request_path(@user), class: 'text-green'
      .card-reveal
        .card-title
          #{offer.topic.title}
          %i.fa.fa-times.pull-right
        %p.card-content= offer.description