.row#profile-header
  .col-sm-2.col-xs-4
    .profilepicture
      = image_tag(@user.avatar.url(:medium))
  .col-sm-8.col-xs-4
    .profile-infos
      - if @user.is_a?(Teacher)
        #rating
          = render partial: "shared/star_rating", locals: {note: @user.avg_reviews}
          %span.number-of-reviews
            #{@user.reviews_received.count}
            %i.fa.fa-user
      %h2.user-name
        #{@user.firstname} #{@user.lastname}
        %br
        %small
          = "#{@user.age} ans - " unless @user.birthdate.nil?
          #{@user.occupation}
          = "- #{@user.level_max}" unless @user.level_max.nil?
      - if @user.is_a?(Teacher)
        #topics
          - @user.offers.each do |o|
            = image_tag(o.topic.pictotype(:small), class: 'offer-picto')
  .col-sm-2.col-xs-4
    - if @user.is_a?(Teacher)
      .booking-infos
        #pricing.text-center
          .user-pricing #{@user.min_price} €/h
          %p.detailed-pricing-link= link_to 'Voir le tarif détaillé', "#detailed-pricing", data:{toggle: 'modal'}
        #cta.text-center
          - if current_user
            %a.btn.btn-green.btn-sm.btn-qw{href: '#contact-modal', data:{toggle: 'modal'}}
              %i.fa.fa-envelope
          - else
            %a.btn.btn-green.btn-sm.btn-qw{href: new_user_lesson_request_path(@user)}
              %i.fa.fa-envelope
          = link_to 'Réserver', new_user_lesson_request_path(@user), class: 'btn btn-green btn-sm btn-qw'
    - else
      #cta.text-center
        %a.btn.btn-green.btn-sm.btn-qw{href: '#contact-modal', data:{toggle: 'modal'}}
          %i.fa.fa-envelope
