.card-header.bordered
  - content_for(:title) { "#{t("administrate.actions.show")} #{page.page_title}" }
  .header-block{:role => "banner"}
    %h3.title= content_for(:title)
  .header-block.pull-right
    - if valid_action? :edit
      = link_to("#{t("administrate.actions.edit")} #{page.page_title}", [:edit, namespace, page.resource], class: "btn btn-primary")
    - if valid_action? :destroy
      = link_to("#{t("administrate.actions.destroy")} #{page.page_title}", [namespace, page.resource], method: :delete, class: "btn btn-danger", data: { confirm: t('administrate.actions.confirm') })
  .header-block
    = link_to('Rejoindre la classe', admin_masterclass_join_path(page.resource), class:"btn btn-info", target: "_blank")
.card-block.main-content__body
  %table.table-min.table-striped
    - page.attributes.each do |attribute|
      %tr
        %td.attribute-label
          = t("helpers.label.#{resource_name}.#{attribute.name}", default: attribute.name.titleize)
        %td{:class => "attribute-data attribute-data--#{attribute.html_class}"}
          - if attribute.data != "" && !attribute.data.nil?
            = render_field attribute
          - else
            ="-"
