.modal.fade#reschedule-lesson
  .modal-dialog
    = form_tag reschedule_lesson_path(lesson), method: :put, class: 'modal-content' do
      .modal-header
        %h4 Déplacer le cours
      - if current_user.id == lesson.student.id
        - if lesson.rescheduled > 0
          .modal-body
            .alert.alert-info
              Vous avez déjà déplacé ce cours une fois. Si vous devez absolument le déplacer à nouveau, adressez-vous au professeur.
          .modal-footer
            = link_to 'Fermer', '#', 'data-dismiss'=>'modal'
        - elsif lesson.time_start < Time.now + 24.hours
          .modal-body
            .alert.alert-info
              La date prévue pour ce cours est dans moins de 24h. Vous ne pouvez pas le déplacer.<br />Si vous devez absolument déplacer ce cours, adressez-vous au professeur.
          .modal-footer
            = link_to 'Fermer', '#', 'data-dismiss'=>'modal'
        - else
          .modal-body
            .alert.alert-info
              Vous pouvez déplacer le cours de manière unilatérale <b>au maximum 1 fois</b>.<br />
              <b>Assurez-vous que la nouvelle date convienne au professeur!</b><br />
              Si vous devez déplacer le même cours une deuxième fois, adressez-vous au professeur.
            .reschedule-datetime-picker.input-group{ 'data-value' => lesson.time_start }
              = text_field_tag :_time_start, lesson.time_start, class: 'form-control', required: true
              = hidden_field_tag :time_start, class: 'time-start-input'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
          .modal-footer
            = link_to 'Fermer', '#', 'data-dismiss'=>'modal'
            = button_tag 'Déplacer', class: 'btn btn-default btn-green btn-qw'
      - else
        .modal-body
          .reschedule-datetime-picker.input-group{ 'data-value' => lesson.time_start }
            = text_field_tag :_time_start, lesson.time_start, class: 'form-control', required: true
            = hidden_field_tag :time_start, class: 'time-start-input'
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
          .modal-footer
            = link_to 'Fermer', '#', 'data-dismiss'=>'modal'
            = button_tag 'Déplacer', class: 'btn btn-default btn-green btn-qw'


= content_for :javascript do
  :javascript
    $('.reschedule-datetime-picker').datetimepicker({
      locale: moment.locale(),
      format: "[le] DD/MM/YYYY [à] HH:mm",
      minDate: moment("#{Time.now.strftime('%F %R')}" ).add( 24, 'hours' ),
      allowInputToggle: true,
      sideBySide: true,
    })
