#lessons
  .container-fluid
    = render partial: 'header'
  #lessons-navigation
    .container
      .row
        %ul.tabs
          %li.tab
            %a{href: "#planned"} Cours prévus
          %li.tab
            %a{href: "#pending"}
              Cours à approuver
              - if @number_of_pending_lessons > 0
                .badge.badge-pink= @number_of_pending_lessons
          %li.tab
            %a{href: "#history"} Historique
          - if current_user.is_a?(Teacher)
            %li.tab
              %a{href: "#pending_packs"} Pending packs
          %li.tab
            %a{href: "#proposed_packs"} Proposed packs
  .container
    #planned
      = render partial: 'lessons/index/planned'
    #pending
      = render partial: 'lessons/index/pending'
    #history
      = render partial: 'lessons/index/history'
    - if current_user.is_a?(Teacher)
      #pending_packs
        = render 'lessons/index/packs', packs: LessonPack.declined.where(teacher_id: current_user.id)
    #proposed_packs
      = render 'lessons/index/packs', packs: LessonPack.pending_student.where(student_id: current_user.id)

:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });