#lessons
  .container-fluid
    = render partial: 'header'
  #lessons-navigation
    .container
      .row
        %ul.tabs
          %li.tab
            %a{href: "#planned"} Cours prévus
          %li.tab
            %a{href: "#pending"}
              Cours à approuver
              - if @number_of_pending_lessons > 0
                .badge.badge-pink= @number_of_pending_lessons
          %li.tab
            %a{href: "#history"} Historique
  .container
    #planned
      = render partial: 'lessons/index/planned'
    #pending
      = render partial: 'lessons/index/pending'
    #history
      = render partial: 'lessons/index/history'
:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });