#lesson
  .row.header.valign-wrapper
    .col-sm-2.col-xs-4
      .icon-header.icon-coloured.valign-wrapper{class: "icon-topic-#{@lesson.topic.topic_group.id}"}
        = image_tag(@lesson.topic.pictotype(:medium))
    .col-sm-8.col-xs-4
      .header-infos
        .lesson-date #{@lesson.time_start.strftime("%d %B %Y à %H:%M")}
        %h1
          #{lesson_duration(@lesson.time_start, @lesson.time_end)}
          de #{@lesson.topic.title} avec #{@lesson.other(current_user).name}
    .col-sm-2.col-xs-4.lesson-actions
      .header-right.text-right
        - if @lesson.pending?(@user)
          - if @lesson.pay_afterwards?
            %span.dropdown
              %a.btn.btn-qw.btn-green{href: '#', 'data-toggle' => 'dropdown'} Accept
              %ul.dropdown-menu
                %li= link_to 'Payer plus tard', lesson_accept_path(@lesson)
                %li= link_to 'Payer maintenant', new_lesson_payment_path(@lesson)
          - else
            = link_to 'Accepter', lesson_accept_path(@lesson), class: 'btn btn-qw btn-green'
          %br
          = link_to lesson_refuse_path(@lesson) do
            Refuser
          #{" - "}
          = link_to edit_lesson_path(@lesson), remote: true do
            Déplacer
  .container
    .row
      .col-md-1
      .col-md-10
        .row
          .col-sm-6
            - unless @recordings.nil? || @recordings.empty?
              - @recordings.each do |recording|
                = link_to recording.playback_formats.first.url, class: 'valign-wrapper recording-link', target: '_blank' do
                  = image_tag('dashboard/preview_cours.png', class: 'preview-lesson')
                  %span.record-text
                    %i.fa.fa-youtube-play.fa-3x
            .lessons-details
              %dl
                %dt Date
                %dd #{@lesson.time_start.strftime("%d/%m/%Y à %H:%M")}
                %dt #{@lesson.is_student?(@user)? 'Professeur' : 'Élève'}
                %dd #{@lesson.other(@user).name}
                %dt Durée
                %dd #{lesson_duration(@lesson.time_start, @lesson.time_end)}
                %dt Prix
                %dd #{@lesson.price}€
                %dt Détails
                %dd #{@lesson.comment}
          .col-sm-6
            -@lesson.payments.each do |payment|
              .card.card-payment
                .card-content
                  %h4 Paiement du cours
                  %dl.dl-horizontal
                    %dt Montant:
                    %dd #{payment.price}€
                    %dt Statut:
                    %dd
                      #{ t 'lesson.payment.status.'+payment.status}
                      %i.fa.fa-question-circle-o.text-purple.tooltipped{data:{position:'bottom', dalay: 30, tooltip: payment_status(payment.status)}}
                    %dt Référence:
                    %dd ##{payment.id}
                .card-action
                  .payment-action.text-green
                    - if @lesson.past? && payment.locked?
                      .pull-left= link_to 'Valider', lesson_pay_teacher_path(@lesson), class: 'btn btn-green btn-qw'
                      = link_to lesson_dispute_path(@lesson) do
                        %i.fa.fa-warning
                        Signaler un problème
            -if @lesson.payments.empty? && @lesson.pay_afterwards?
              .card.card-payment
                .card-content
                  %h4 Ce cours n'a pas été pré-payé
                  %dl.dl-horizontal
                    %dt Montant:
                    %dd #{@lesson.price}€
                .card-action
                  .payment-action
                    - if @lesson.is_student?(@user)
                      = link_to 'Payer', new_lesson_payment_path(@lesson), class: 'btn btn-green btn-qw'
                    - else
                      .text-red
                        Si vous acceptez de donner cours avant que l'élève n'ait
                        réglé le paiement, <b>Qwerteach ne peut pas garantir que vous serez payé</b>.