= form_for([namespace, page.resource], html: { class: "form" }) do |f|
  - if page.resource.errors.any?
    #error_explanation
      %h2
        = pluralize(page.resource.errors.count, "error")
        prohibited this #{page.resource_name} from being saved:
      %ul
        - page.resource.errors.full_messages.each do |message|
          %li= message
  - page.attributes.each do |attribute|
    %div{:class => "field-unit field-unit--#{attribute.html_class}"}
      = render_field attribute, f: f
  %div{:class => "field-unit field-unit--belongs-to"}
    .field-unit__label
      %label Admin responsable
    = select_tag("postulation[admin_id]", options_for_select(User.where(admin:true).map{|u| [u.name, u.id]}, selected: page.resource.admin_id), class: 'field-unit__field')
  .form-actions
    = f.submit
