= form_for([namespace, page.resource], html: { class: "form" }) do |f|
  - if page.resource.errors.any?
    = render 'form_errors', page: page
  .form-group.row
    .form-control-label.offset-sm-2.col-sm-10
      = f.check_box :mangopay, class: 'check'
      %span= f.label :mangopay, for: '_'
  .form-group.row
    .form-control-label.offset-sm-2.col-sm-10
      = f.check_box :email, class: 'check'
      %span= f.label :email, for: '_'
  .form-group.row
    .form-control-label.offset-sm-2.col-sm-10
      = f.check_box :test_classe, class: 'check'
      %span= f.label :test_classe, for: '_'


  - page.attributes.each do |attribute|
    .form-group.row.field-unit{:class => "field-unit--#{attribute.html_class}"}
      = render_field attribute, f: f
  .form-group.row.field-unit--belongs-to
    %label.col-sm-2.col-form-label.text-xs-right Admin responsable
    .col-sm-10
      = f.select(:admin_id, User.where(admin:true).map{|u| [u.name, u.id]}, {}, class: 'c-select form-control boxed')
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
