.card-header.bordered
  - content_for(:title) { "Edit #{page.page_title}" }
  .header-block
    %h3.title= "Edit postulation of #{page.resource.teacher.firstname} #{page.resource.teacher.lastname}"
  .header-block.pull-right
    = link_to(                      |
        "Show #{page.page_title}",  |
        [namespace, page.resource], |
        class: "btn btn-secondary", |
      )                             |

.card-block
  = render "form", page: page
