%body
  - content_for(:title) {"Postulation of #{page.resource.teacher.name}"}
  %header.header
    %h1.header__heading Postulation of #{page.resource.teacher.name}
    .header__actions
      = link_to(                             |
          "Edit",                            |
          [:edit, namespace, page.resource], |
          class: "button",                   |
        )                                    |
  = render :partial => 'postulation', locals:{postulation: page.resource}
  = link_to 'back to user', admin_teacher_path(page.resource.teacher)