- provide :no_wrap, true
.title-block.title-block__dashboard
  %h3.title Dashboard
  .header-block
    = link_to '7 days', admin_root_path(days: 7), class: days == 7 && 'active'
    = link_to '30 days', admin_root_path(days: 30), class: days == 30 && 'active'
    = link_to '90 days', admin_root_path(days: 90), class: days == 90 && 'active'
= render 'activity_graph'
= render 'postuling_teachers'