- provide :body_class, 'dashboard-page'
- provide :no_wrap, true
.title-block.title-block__dashboard
  %h3.title Dashboard
  .header-block
    = link_to '7 days', admin_root_path(days: 7), class: days == 7 && 'active'
    = link_to '30 days', admin_root_path(days: 30), class: days == 30 && 'active'
    = link_to '90 days', admin_root_path(days: 90), class: days == 90 && 'active'
%section.section
  .row.sameheight-container
    .col.col-12.col-sm-12.col-md-6.col-xl-5.stats-col
      = render 'stats'
    .col.col-12.col-sm-12.col-md-6.col-xl-7.history-col
      = render 'history'
%section.section
  .row.sameheight-container
    .col.col-12.col-sm-12.col-md-6
      = render 'postuling_teachers'
    .col.col-12.col-sm-12.col-md-6
      = render 'online_users'
= render 'top_teachers'