.container-fluid
  .row
    %h2.page-title-green Payer mon cours
  .row
    .lesson-payment.col-sm-8.col-sm-offset-2
      .lesson-payment-wrapper
        -if @lesson.past?
          %p.lead
            Nous espérons que votre cours de #{@lesson.topic.title} avec #{@lesson.teacher.full_name}
            s'est bien passé et que vous en êtes satisfait.
            %br
            Ce cours n'a pas été pré-payé, c'est pourquoi nous vous demandons maintenant de régler le montant dû.
        #payment-errors
        = render 'lesson_requests/payment_method', url: ->(mode){ lesson_payments_path(@lesson, mode: mode)  }
      .loader-wrapper.text-center.lesson-payment-loader.hidden
        %i.fa.fa-spin.fa-3x.fa-spinner.text-green
      %hr

:javascript
  mangoPay.cardRegistration.baseURL = "#{ MangoPay.configuration.root_url }";
  mangoPay.cardRegistration.clientId = "#{ MangoPay.configuration.client_id }";

  window.paymentForm = new PaymentForm( $('#lesson-payment-form'), {
    card_registration_url: "#{ @card_registration.card_registration_url }",
    card_registration_id: "#{ @card_registration.id }",
    payment_url: "#{ lesson_payments_path(@lesson, mode: 'cd', card_id: '__CARD_ID__') }"
  });