.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th{:class => "cell-label", :scope => "col"} Month
        %th{:class => "cell-label", :scope => "col"} All lessons
        %th{:class => "cell-label", :scope => "col"} Created lessons
        %th{:class => "cell-label", :scope => "col"} Expired lessons
        %th{:class => "cell-label", :scope => "col"} Sum(price) on created lessons
        %th{:class => "cell-label", :scope => "col"} Unpaid lessons
        %th{:class => "cell-label", :scope => "col"} Sum(price) unpaid lessons
        %th{:class => "cell-label", :scope => "col"} Students (#new)
        %th{:class => "cell-label", :scope => "col"} Teachers (#new)
    %tbody
      - resources.each do |resource|
        %tr.js-table-row{:tabindex => "0"}
          %td.cell-data= resource.period
          %td.cell-data= resource.total_count
          %td.cell-data= resource.created_count
          %td.cell-data= resource.expired_count
          %td.cell-data= resource.created_amount
          %td.cell-data= resource.unpaid_count
          %td.cell-data= resource.unpaid_amount
          %td.cell-data #{resource.students_count} (#{resource.new_students_count})
          %td.cell-data #{resource.teachers_count} (#{resource.new_teachers_count})
