- content_for(:title, 'Clients')

.card-header.bordered
  .header-block
    %h3.title= content_for(:title)
.card-block.filters
  = form_tag '', method: :get, class: 'form-inline form-filters' do
    .form-group.form-group__daterangepicker.mr-sm-2
      = text_field_tag :date_range, params[:date_range], class: 'form-control', 'data-behavior'=>'daterangepicker'
    .form-group
      = submit_tag nil, class: 'btn btn-primary'

.card-block
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.client_id')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.avatar')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.name')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.lessons_count')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.lessons_amount')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.teachers_count')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.first_lesson_date')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.last_lesson_date')
          %th{:class => "cell-label", :scope => "col"}= t('reports.clients.last_seen')
      %tbody
        - @entities.each do |resource|
          %tr.js-table-row{:tabindex => "0"}
            %td.cell-data= resource.id
            %td.cell-data= image_tag(resource.avatar.url(:small), class: 'cell-avatar cell-avatar__big')
            %td.cell-data #{resource.first_name} #{resource.last_name}
            %td.cell-data #{resource.lessons_count} (#{resource.total_lessons_count})
            %td.cell-data #{resource.lessons_amount} (#{resource.total_lessons_amount})
            %td.cell-data #{resource.teachers_count} (#{resource.total_teachers_count})
            %td.cell-data= resource.first_lesson_date ? l(resource.first_lesson_date) : '-'
            %td.cell-data= resource.last_lesson_date ? l(resource.last_lesson_date) : '-'
            %td.cell-data= resource.last_seen ? l(resource.last_seen) : '-'

  = paginate_admin @entities