= form_for offer, :remote => remote do |f|
  = f.hidden_field(:id) unless offer.id.nil?
  .col-sm-12
    -if offer.offer_prices.empty?
      .form-group.group_choice
        = f.select :topic_group_id, options_for_select(TopicGroup.all.collect { |p| [p.title, p.id] }),
        {include_blank: "Choisissez une catégorie"}, class: 'form-control', :required => true
    .form-group.topic_choice.group_choice_topic
    .field.other_name
    .form-group.level_choice_levels
      -unless offer.offer_prices.empty?
        =render partial: 'offers/level_choice', locals:{levels: offer.possible_levels, offer: offer}
        = hidden_field_tag(:topic_id, offer.topic.id)
  .col-sm-12
    .form-group
      = f.text_area :description, :class => 'form-control', :rows => 16, :placeholder => "Description ..."

  .actions
    = f.submit 'Sauvegarder', :class => 'btn btn-qw btn-sm'
    = link_to 'supprimer', offer_path(offer), method: :delete, remote:false unless offer.id.nil?