= label_tag 'Pour quels niveaux enseignez vous cette matière?'
- if levels.nil?
  %p Aucun niveau disponible pour cette catégorie
- else
  %div{id: "levels-offer-#{offer.id}"}
    - levels.each do |c|
      - if offer.offer_prices.map(&:level_id).include?(c.id)
        - a = offer.offer_prices.find_by(level_id: c.id)
        .row.level-row
          .col-sm-8
            = hidden_field_tag "offer[offer_prices_attributes][][id]", a.id
            = hidden_field_tag "offer[offer_prices_attributes][][_destroy]", false, class: "destroy_#{c.id}"
            = check_box_tag "offer[offer_prices_attributes][][level_id]", c.id, 'checked', class: 'price_box', id: "level_#{c.id}"
            = label_tag "level_#{c.id}", c[I18n.locale[0..3]]
          .col-sm-4
            = number_field_tag "offer[offer_prices_attributes][][price]", nil, min: 0, disabled: false, value: offer.offer_prices.detect{|lp| lp.level_id == c.id}.price, class: "#{c.id} form-control"
      - else
        .row.level-row
          .col-sm-8
            = hidden_field_tag "offer[offer_prices_attributes][][id]", nil
            = hidden_field_tag "offer[offer_prices_attributes][][_destroy]", false
            = check_box_tag 'offer[offer_prices_attributes][][level_id]', c.id, nil, class: 'price_box', id: "level_#{c.id}"
            = label_tag "level_#{c.id}", c[I18n.locale[0..3]]
          .col-sm-4
            = number_field_tag 'offer[offer_prices_attributes][][price]', nil, min: 0, disabled: true, placeholder: "...€/h", class: "form-control price-input #{c.id}"

:javascript
  new LevelsManager("#{offer.id}");


