.col-xs-6.col-md-3.thumbnail
  %h4= offer.topic.topic_group.title
  %h6= raw(offer.description)
  - if (offer.topic.title=="Autre")
    %p
      Topic: #{offer.other_name}
  - else
    %p
      Topic : #{offer.topic.title}
  - prices = offer.offer_prices
  - prices.each { |p|
  %dd
    = p.level.fr
    \: #{ActionController::Base.helpers.number_to_currency(p.price)}
  - }
  = link_to t('.edit', :default => t("helpers.links.edit")), 
    edit_offer_path(offer), :class => 'btn btn-success'
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                     
    offer_path(offer),
    :method => :delete,                                                                                
    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sure ?')), 
    :class => 'btn btn-mini btn-danger'                