.row
  .col-xs-12
    .card
      .card-content
        .first-lesson-free
          = form_for @user, as: :user, url: user_path(@user), method: :put, remote: true do |f|
            .card-title.text-center
              Premier cours gratuit
              .switch
                = f.check_box(:first_lesson_free, id: 'cmn-toggle-4', class: 'cmn-toggle cmn-toggle-round-flat')
                %label#label-cmn-toggle-4{for: "cmn-toggle-4"}
            %p
              Sur Qwerteach, nous offrons aux élèves la possibilité de réserver un premier cours gratuit d'une heure avec un professeur.
              Par défaut, tous les professeurs participent à ce mouvement. Si vous ne souhaitez pas proposer cette option aux élèves qui souhaitent prendre cours avec vous, vous pouvez ici changer ce paramètre.
            %label#cours_gratuit_info.info Pour le moment, les élèves ont la possibilité de réserver un premier cours gratuit avec vous.
.row
  .offers-list.clearfix.cards-wrapper
    - @user.offers.each do |o|
      .col-lg-4.col-sm-6
        .card.card-offer
          .card-content
            .card-title
              Cours de #{o.title}
              .icon-coloured{class: "icon-topic-#{o.topic_group.id}"}= image_tag(o.topic.pictotype(:small))
            =render partial: 'offers/form', locals:{offer: o, remote:true}
  .col-lg-4.col-sm-6
    .card.card-offer
      .card-content
        = link_to new_offer_path, remote: true do
          .card-title Ajouter un annonce
          = image_tag("plus_annonce.png")
        #new-offer

