- url =  @lesson_pack.new_record? ? confirm_lesson_packs_path : lesson_pack_path(@lesson_pack)
#lesson-pack-form.container-fluid
  .row
    .col-md-7
      = form_for @lesson_pack, url: url do |f|
        #lesson-pack-form-errors
          = render 'shared/errors', object: @lesson_pack
        - if @lesson_pack.persisted?
          = f.hidden_field :id
        .form-group
          = f.label :student_id, 'Élève'
          = render 'shared/student_select', f: f, students: current_user.students
        .form-group
          = f.label :topic_id, 'Choisissez une matière'
          - options = current_user.offers.map{|o| [o.title, o.topic.id]}
          = f.select :topic_id, options, { prompt: 'matière' }, { class: 'form-control topic-select', required: true }
        .form-group
          = f.label :level_id, 'Choisissez le niveau'
          - if f.object.topic_id.present?
            - options = current_user.offers.includes(offer_prices: :level).where(topic_id: f.object.topic_id).uniq.pluck('levels.fr', 'levels.id')
          - else
            - options = []
          = f.select :level_id, options, { prompt: 'niveau' }, { class: 'form-control level-select', required: true }
        .form-group
          = f.label :discount, 'Remise'
          = f.select :discount, [0,5,10,15,20].map { |i| ["#{i}%", i] }, {}, { class: 'form-control discount' }
        .lessons-part.hidden
          %h3 Lessons
          .form-group.lesson-pack-header
            .row
              .col-xs-6 Date
              .col-xs-4 Durée
          .lesson-pack-items
            .alert-min-lessons.alert.alert-warning.alert-dismissible{style: "display:none"}
              %button.close{"data-dismiss":"alert", "aria-label":"Close", type:"button"}
                %span{"aria-hidden":"true"}
                  %i.fa.fa-times
              Vous devez proposer minimum 5 cours!
            = f.fields_for :items do |fi|
              = render 'item_fields', f: fi

          .fields-for-new-item.hidden
            = f.fields_for :items, LessonPackItem.new, child_index: '__ITEM_INDEX__' do |fi|
              = render 'item_fields', f: fi

          .alert-max-lessons.alert.alert-warning.alert-dismissible{style: "display:none"}
            %button.close{"data-dismiss":"alert", "aria-label":"Close", type:"button"}
              %span{"aria-hidden":"true"}
                %i.fa.fa-times
            Vous pouvez proposer maximum 20 cours!
          .form-group.text-center
            = link_to 'Ajouter', '#', class: 'btn btn-primary btn-add-item'

        .form-group.text-right
          = f.submit 'Suivant', class: 'btn btn-qw btn-green'
    .col-md-5
      %dl.lesson-pack-values.hidden
        %dt Tarif horaire
        %dd#rate-value -
        %dt Nombre d'heures
        %dd#hours-value -
        %dt Prix
        %dd#cost-value -
        %dt Prix total
        %dd#total-amount-value -
:javascript
  var form = new LessonPackForm( $('#lesson-pack-form'), { teacher_id: #{current_user.id} } )