.container-fluid
  .row
    %h2.page-title-green Confirmer un pack de cours
  .row
    .col-lg-6.col-md-8.col-centered= render 'recap', lesson_pack: @lesson_pack
  .row.form-group
    .col-lg-6.col-md-8.col-centered{ :style => 'display:flex;justify-content:space-between;padding:20px 0' }
      - if @lesson_pack.new_record?
        = button_to 'Modifier', change_lesson_packs_path, class: 'btn btn-success', params: to_form_params(lesson_pack_params, 'lesson_pack')
        = button_to 'Confirmer', { action: 'create' }, class: 'btn btn-primary', params: to_form_params(lesson_pack_params, 'lesson_pack')
      - else
        = link_to 'Modifier', edit_lesson_pack_path(@lesson_pack), class: 'btn btn-success'
        = link_to 'Confirmer', propose_lesson_pack_path(@lesson_pack), class: 'btn btn-primary', method: :put