%h1 Liste de mes forfaits de cours

%table.table
  %thead
    %tr
      %th Statut
      %th Professeur
      %th Elève
      %th Remise
      %th
      %th
      %th

  %tbody
    - @lesson_packs.each do |lesson_pack|
      %tr
        %td= lesson_pack.status
        %td= lesson_pack.teacher
        %td= lesson_pack.student
        %td= lesson_pack.discount
        %td= link_to 'Voir', lesson_pack
        %td= link_to 'Modifier', edit_lesson_pack_path(lesson_pack)
        %td= link_to 'Supprimer', lesson_pack, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nouveau forfait de cours', new_lesson_pack_path
