.container-fluid
  %h1 Lesson pack
  .row
    .col-lg-6.col-md-8= render 'recap', lesson_pack: @lesson_pack

  .row.form-group
    - if can? :reject, @lesson_pack
      .col-lg-2.col-md-3.col-sm-4.col-xs-6
        = link_to 'Reject', reject_lesson_pack_path(@lesson_pack), class: 'btn btn-warning', method: :put
    - if can? :pay, @lesson_pack
      .col-lg-2.col-md-3.col-sm-4.col-xs-6
        = link_to 'Approve', payment_lesson_pack_path(@lesson_pack), class: 'btn btn-primary btn-approve disabled'
        - content_for :javascript do
          :javascript
            new LessonPackApprove()
    - if can? :edit, @lesson_pack
      .col-lg-2.col-md-3.col-sm-4.col-xs-6
        = link_to 'Edit', edit_lesson_pack_path(@lesson_pack), class: 'btn btn-primary'
    - if can? :delete, @lesson_pack
      .col-lg-2.col-md-3.col-sm-4.col-xs-6
        = link_to 'Delete', lesson_pack_path(@lesson_pack), class: 'btn btn-warning', method: :delete, 'data-confirm' => 'Delete the pack?'