#lesson
  .row.header.valign-wrapper
    .col-sm-2.col-xs-4
      .icon-header.icon-coloured.valign-wrapper{class: "icon-topic-#{@lesson_pack.topic.topic_group.id}"}
        = image_tag(@lesson_pack.topic.pictotype(:medium))
    .col-sm-8.col-xs-4
      .header-infos
        %h1
          Forfait de #{@lesson_pack.items.count} cours de #{@lesson_pack.topic_title} (#{@lesson_pack.topic.topic_group.title})

.container-fluid
  .row
    .col-lg-6.col-md-8.col-lg-offset-3.col-md-offset-2
      = link_to '< Retour', lessons_path, class: 'btn btn-link'
    .col-lg-6.col-md-8.col-lg-offset-3.col-md-offset-2
      .row
        = render 'disclaimer' if @lesson_pack.pending? if @lesson_pack.student == current_user
        = render 'recap', lesson_pack: @lesson_pack
      .row.form-group

        .col-lg-12.col-md-12.col-centered{ :style => 'display:flex;justify-content:space-between;padding:20px 0' }
          - if can? :reject, @lesson_pack
            = link_to 'Rejeter', reject_lesson_pack_path(@lesson_pack), class: 'btn btn-warning', method: :put, style: 'background-color:#f0ad4e;border-color:#f0ad4e'
          - if can? :pay, @lesson_pack
            = link_to 'Accepter', payment_lesson_pack_path(@lesson_pack), class: 'btn btn-primary btn-approve'
            - content_for :javascript do
              :javascript
                new LessonPackApprove()
          - if can? :edit, @lesson_pack
            = link_to 'Modifier', edit_lesson_pack_path(@lesson_pack), class: 'btn btn-primary'
          - if can? :delete, @lesson_pack
            = link_to 'Supprimer', lesson_pack_path(@lesson_pack), class: 'btn btn-warning', method: :delete, 'data-confirm' => 'Supprimer le forfait?'
       