.container
  .row
    #dashboard-cards.cards-wrapper
      - if @user.is_a?(Teacher)
        - if @user.postulance_accepted?
          = render partial: 'cards_teacher'
        - else
          = render partial: 'cards_postuling_teacher'
      - else
        = render partial: 'cards_student'
  - unless @to_unlock_lessons.empty?
    .row
      #cta-lessons
        - @to_unlock_lessons.each do |l|
          .col-xs-12
            = render partial: 'dashboards/cards/to_unlock', locals: {lesson: l}
  %hr
-if !@user.is_a?(Teacher) && @user.lessons_received.empty?
  .container-fluid
    .row
      = render 'help_request_lesson'
- else
  .container
    .cards-wrapper
      .card.card-search
        .card-content
          .row
            #dashboard-calendar
              .col-sm-7
                #dashboard-lessons-calendar
              .col-sm-5.lessons-list
                - if @upcoming_lessons.empty?
                  %p.lead.text-center
                    Vous n'avez aucun cours prévu.
                  %hr
                  - if @user.is_a?(Teacher)
                    .row
                      .col-xs-2
                        .icon-coloured.icon-mauve
                          %i.fa.fa-life-ring.fa-2x
                      .col-xs-10
                        %p Besoin d'un coup de main? Consultez nos trucs pour #{link_to 'trouver des élèves', toolbox_index_path}!
                  -else
                    = form_tag profs_path, method: :post, class: 'form text-center' do
                      .form-group
                        %label Cherchez un prof par matière:
                        .input-group
                          = text_field_tag('topic', '', class: 'form-control', placeholder: 'ex: physique')
                          %span.input-group-btn
                            = button_tag type:'submit', class: 'btn btn-search' do
                              %i.fa.fa-search
                - @upcoming_lessons.each do |l|
                  = render partial: 'upcoming_lesson', locals:{lesson: l}
                  %br
.container
  - if @user.is_a?(Teacher)
    = render 'dashboards/teacher/tools'
  - else
    = render partial: 'featured_teachers', locals: {teachers: @featured_teachers}
  %hr
