.container
  .row
    #dashboard-cards.cards-wrapper
      - if current_user.mailbox.inbox({read: false}).count > 0
        = render partial: 'dashboards/cards/card_mailbox'
      - if @user.is_a?(Teacher)
        - if @user.postulance_accepted?
          = render partial: 'cards_teacher'
        - else
          = render partial: 'cards_postuling_teacher'
      - else
        = render partial: 'cards_student'
  - unless @to_unlock_lessons.empty?
    .row
      #cta-lessons
        - @to_unlock_lessons.each do |l|
          .col-xs-12
            = render partial: 'dashboards/cards/to_unlock', locals: {lesson: l}
  - unless @to_review_lessons.empty?
    .row
      #cta-lessons
        - @to_review_lessons.each do |l|
          .col-xs-12
            = render partial: 'dashboards/cards/to_review', locals: {lesson: l}

-if !@user.is_a?(Teacher) && @user.lessons_received.empty?
  .container-fluid
    .row
      = render 'find_teacher'
  .container
    .row
      %hr
      %h3.text-center
        Nos professeurs par matière:
      - @featured_topics.each do |topic|
        = render partial: 'dashboards/cards/card_topic', locals: {topic: topic}
    %hr
  .container-fluid
    .row
      = render 'help_request_lesson'
    %hr
- if @user.is_a?(Teacher) && @user.lessons_given.empty?
  .container-fluid
    .row
      = render partial: 'dashboards/cards/masterclass'
- unless (!@user.is_a?(Teacher) && @user.lessons_received.empty?) || (@user.is_a?(Teacher) && @user.lessons_given.empty?)
  .container
    .cards-wrapper
      .card.card-search
        .card-content
          .row
            #dashboard-calendar
              .col-sm-7
                #dashboard-lessons-calendar
              .col-sm-5.lessons-list
                = render :partial => 'recent_activity'
.container
  - if @user.is_a?(Teacher)
    - if @user.postulance_accepted?
      = render 'dashboards/teacher/tools'
    - else
      = render 'dashboards/teacher/incubator_tools'
  - else
    = render partial: 'featured_teachers', locals: {teachers: @featured_teachers}

  %hr

= render partial: 'contact_admin', locals:{me: current_user, user: @admin, new: @conversation.empty?}