.row.history_lesson{class: ('inactive' unless lesson.active?)}
  .col-xs-2
    - if lesson.is_teacher?(current_user)
      .pull-left
        %i.fa.fa-graduation-cap{title: 'Lors de cours vous étiez prof'}
    = link_to user_path(lesson.other(current_user)) do
      = image_tag lesson.other(current_user).avatar(:small)
  .col-xs-10
    .text-grey.lesson-date
      = lesson.time_start.strftime("%d %B %Y à %H:%M")
    .lesson-topic
      Cours de #{lesson.topic.title} avec
      = link_to lesson.other(current_user).name, user_path(lesson.other(current_user)), class: 'text-mauve'
    .lesson-link
      = link_to 'voir', lesson_path(lesson)
    .lesson-status
      - if lesson.status == 'expired'
        %span.badge.grey Expiré
      - if lesson.status == 'canceled'
        %span.badge.red Annulé
      - if lesson.status == 'refused'
        %span.badge.grey Refusé