.lesson-status
  -if lesson.active?
    - if lesson.review_needed?(current_user)
      = image_tag('lesson_cards/leave_review.png', class: 'lesson-card', data: {toggle:"tooltip", title: 'Laissez une appréciation au professeur'})
    - unless lesson.paid?
      - if lesson.is_teacher?(current_user)
        = image_tag('lesson_cards/wait.png', class: 'lesson-card', data: {toggle:"tooltip", title: "Il ne vous reste qu'à attendre que l'élève valide que le cours s'est bien passé"})
      - else
        = image_tag('lesson_cards/unlock.png', class: 'lesson-card', data: {toggle:"tooltip", title: "Validez que le cours s'est bien passé pour débloquer le payement du professeur"})
    - if lesson.upcoming?
      - if lesson.is_teacher?(current_user)
        = image_tag('lesson_cards/give_lesson.png', class: 'lesson-card', data: {toggle:"tooltip", title: "Tout est en ordre, il ne vous reste qu'à donner cours."})
      - else
        = image_tag('lesson_cards/take_lesson.png', class: 'lesson-card', data: {toggle:"tooltip", title: "Tout est en ordre, il ne vous reste qu'à profiter de votre cours."})
    - if lesson.pending?
      - if lesson.pending?(current_user)
        =image_tag('lesson_cards/answer.png', class: 'lesson-card', data: {toggle:"tooltip", title: "Acceptez ou déclinez le cours"})
      - else
        = image_tag('lesson_cards/wait.png', class: 'lesson-card', data: {toggle:"tooltip", title: "Votre réservation a été envoyée au professeur, celui-ci doit encore l'accepter."})