.card.card-lesson
  .card-content
    .row
      .col-xs-3
        .icon-user-avatar
          =image_tag(lesson.other(current_user).avatar(:small))
      .col-xs-9
        .lesson-date.text-grey #{lesson.time_start.strftime("%d %B %Y à %H:%M")}
        .card-title
          #{lesson_duration(lesson.time_start, lesson.time_end)}
          de #{lesson.topic.title} avec #{lesson.other(current_user).name}
        %p #{lesson.comment}
        = link_to 'détails', lesson_path(lesson)