%section.section
  .card.sameheight-item
    .card-header.bordered
      .header-block
        %h4.title
          = title
          (#{students.count})
    .card-block
      .table-responsive
        %table.table.table-striped.table-hover.table-min
          %thead
            %tr
              %th{width: 20} ID
              %th{width: 30} Avatar
              %th Name
              %th{width: 100} Paid
              %th{width: 60} Lessons
              %th{width: 50}
          %tbody
            - students.each do |student|
              %tr
                %td= student.id
                %td= image_tag avatar_url(student), class: 'cell-avatar'
                %td= student.name
                %td= number_to_currency(student.lessons_amount)
                %td= link_to('Lessons', admin_lessons_path(q: { student_id_eq: student.id, time_start_gteq: @report.start_date, time_start_lt: @report.end_date + 1.day }))
                %td= link_to 'Show', admin_student_path(student), class: 'btn btn-sm btn-primary-outline'