.container
  .row
    = onboarding_progress_bar
  .row
    %h3.text-center
      Qwerteach et vous
      %br
      %small Qui êtes-vous, et que venez-vous faire sur Qwerteach ?
    .col-sm-3
    .col-sm-3.text-center.role
      = link_to become_teacher_path do
        = image_tag('signup/teacher.png')
        %h4
          Je suis prof
          %small je voudrais donner cours et partager mes connaissances
    .col-sm-3.text-center.role
      = link_to next_wizard_path, remote: true do
        = image_tag('signup/student.png')
        %h4
          Je suis élève
          %small Je cherche un prof particulier
    %hr
