.container-fluid.progress-bar-wrapper
  .row
    = onboarding_progress_bar
.container
  .row
    %h2.text-center
      Génial, tout est prêt!
      %br
      %small
        Trouvez votre prof idéal pour bénéficier de vos cours particuliers en ligne :)
    %hr
  .row.topics-list
    - @topic_groups.each do |tg|
      .col-xs-4.col-sm-2
        .card
          = link_to profs_by_topic_path(tg.title), class: 'text-center' do
            .badge.badge-green.offers-number= Offer.where(topic_group_id: tg.id).count
            .text-center= image_tag(tg.pictotype('grey_small'))
            %div= "#{tg.title}"
    .row
      %p.text-right
        Non merci, je préfère
        = link_to 'explorer Qwerteach', dashboard_path
        par moi-même
  %hr
  .row
    %h3.text-center Nos profs les plus populaires
    #search-results
      .row
      - @teachers.each do |t|
        = render partial: 'users/search/search_result', :locals => {:u => t, :custom=>nil}

  %hr
  .row
    %h3.text-center Pour aller plus loin
    .col-sm-3
      .card
        .card-content
          %h4.card-title Rendez-vous pédagogique
          %p
            = link_to 'Rencontrez un membre de notre équipe', pages_path('contact')
            pour vous aider à choisir le meilleur professeur
    .col-sm-3
      .card
        .card-content
          %h4.card-title Il vous reste des questions?
          %p
            Rendez-vous dans notre
            = link_to 'FAQ', faq_path
            ou contactez-directement un admin via le
            = link_to 'chat', '#'
            !
    .col-sm-6
      .card
        .card-content
          %h4.card-title
            Non merci, je préfère
            = link_to 'explorer le site', dashboard_path
            par moi-même


