.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        = render 'collection_head_cells', local_assigns
        %th{:scope => "col"}
    %tbody
      - resources.each do |resource|
        %tr.js-table-row{:tabindex => "0", role: valid_action?(:show) ? 'link' : false, 'data-url'=>valid_action?(:show) ? polymorphic_path([namespace, resource]) : false}
          = render 'collection_body_cells', collection_presenter: collection_presenter, resource: resource
          %td
            = link_to(t('administrate.actions.show'),[:admin, resource],class: 'btn btn-sm btn-primary-outline')
            - if resource.is_a?(User) && resource.blocked
              = link_to('Restaurer', admin_user_unblock_path(resource), class: 'btn btn-sm btn-danger-outline', method: :post,data: {confirm: t('administrate.actions.confirm')})
            - else
              = link_to('Suspendre',[namespace, resource],class: 'btn btn-sm btn-danger-outline',method: :delete,data: {confirm: t('administrate.actions.confirm')})