.card-header.bordered
  - content_for(:title) do
    = display_resource_name(page.resource_name)
  - content_for(:search) do
    = render 'search', search_term: search_term
  .header-block
    %h3.title= content_for(:title).pluralize

.card-block
  = render 'collection', collection_presenter: page, resources: resources
  = paginate_admin resources


.card-header.bordered
  .header-block
    %h3.title Utilisateurs en ligne (#{@online.count})

.card-block
  = render 'collection', collection_presenter: page, resources: @online
