#detailed-pricing.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        - codes = offers.distinct.pluck(:level_code)
        - codes.each do |code|
        %h5.title-green.text-center #{code}
        - levels = Level.where(code: code).group_by{|l| l.be}.collect{|k,v| v.last}
          %table
            %thead
              %tr
                %th tarifs €/h
                -levels.each do |level|
                  %th{class: "level_col_#{level.id}"} #{t level.be, locale: :abv}
              %tbody
                - offers.where("topic_groups.level_code = '#{code}'").each do |ad|
                  %tr.topic_row{id: "topic_row_#{ad.topic.id}"}
                    %th #{ad.topic.title}
                    -levels.each do |level|
                      %td.level_col{class: "level_col_#{level.id}"}
                        #{ad.price_for_level(level).nil? ? '&mdash;'.html_safe : "%g" % ad.price_for_level(level).price}