%h3 Merci! Votre demande a bien été envoyée au professeur.
%dl.dl-horizontal
  %dt ID:
  %dd #{@lesson.id}
  %dt date:
  %dd le #{@lesson.time_start.strftime("%d/%m/%Y à %H:%M")}
  %dt Matière:
  %dd #{@lesson.topic.title}
  %dt Durée:
  %dd #{@lesson.duration.hours}h#{@lesson.duration.minutes}
  %p
    #{link_to 'Consulter la liste de mes cours', lessons_path }