= form_for @lesson_request, as: :request, url: user_lesson_requests_path(@teacher), method: :post, remote: true, html: {class: 'request-lession-form'} do |f|
  = hidden_field_tag 'lesson[teacher_id]', @teacher.id
  %h3#step1-title.change-booking-step.active{data:{toggle:'#step1'}}
    1. A propos du cours
    %small.pull-right.text-green modifier
  = render 'shared/errors', object: f.object
  #step1.booking-step.active
    .form-group
      = f.label :topic_id, 'Choisissez une matière'
      - options = @teacher.offers.map{|o| [o.title, o.topic.id]}
      = f.select :topic_id, options, {prompt: 'matière'}, {class: 'form-control topic-select', required: true}
    .form-group
      = f.label :level_id, 'Choisissez le niveau'
      - if f.object.topic_id.present?
        - options = @teacher.offers.includes(offer_prices: :level).where(topic_id: f.object.topic_id).uniq.pluck('levels.be', 'levels.id')
      - else
        - options = []
      = f.select :level_id, options, {prompt: 'niveau'}, {class: 'form-control level-select', required: true}
    - if @teacher.first_lesson_free == true && @free_lessons.empty?
      .form-group
        = f.check_box :free_lesson, class: 'firstLessonFree', id: 'free_lesson'
        = f.label :free_lesson, "Cours d'essai gratuit (1/2h)", for: 'free_lesson'
    .form-group.lesson-duration
      = label_tag :time, 'Choisissez la durée du cours', class: 'control-label'
      .row
        .col-xs-2= select_hour f.object.hours || 1, {prefix: :request, field_name: :hours, start_hour: 0, :end_hour => 5}, {class: 'form-control hours-select', required: true}
        .col-xs-1
          %label heure
        .col-xs-2= select_minute f.object.minutes, {prefix: :request, field_name: :minutes, minute_step: 15}, {class: 'form-control minutes-select', required: true}
        .col-xs-1
          %label min
    .form-group
      = f.label :comment, 'Un détail à préciser à votre prof?'
      = f.text_area :comment, class:'form-control', rows: "3", placeholder: "Ex: j'ai des difficultés avec la trigonométrie et les vecteurs."
    .actions
      %button.btn.btn-qw.btn-green.change-booking-step{type: 'button', data:{toggle:'#step2'}} Suivant
  %h3#step2-title.change-booking-step{data:{toggle:'#step2'}}
    2. Date et heure
    %small.pull-right.text-green modifier
  #step2.booking-step
    .form-group
      = f.label :time_start, "Choisissez le jour et l'heure de votre cours"
      #time_start_picker.input-group.date
        = f.text_field :time_start, class: 'form-control', :required => true
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
      %small
        Toutes les heures sont affichées dans votre timezone ("#{t @user.time_zone}")
    .actions
      %button.btn.btn-qw.btn-green.change-booking-step{type: 'submit', data:{toggle:'#step3'}} Valider
%h3#step3-title
  3. Paiement
#step3.booking-step.lesson-payment
  .lesson-payment-wrapper
  .loader-wrapper.text-center.lesson-payment-loader
    %i.fa.fa-spin.fa-3x.fa-spinner.text-green
