- if conversations.any?
  .table-responsive
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th ID
          %th partner
          %th last message
          %th # of messages
        - conversations.each do |c|
          - #recipient = c.receipts.group(:receiver_id).select{|r| !r.receiver.nil? && current_user.id != r.receiver.id}.last.receiver
          - recipient = c.participants.select{|p| current_user.id != p.id }.last
          %tr
            %td= link_to c.id, admin_show_conversation_path(c)
            %td= link_to(recipient.name, admin_student_path(recipient)) if recipient
            %td= c.messages.last.body
            %td= c.messages.count

  = paginate_admin conversations
- else
  Pas encore de conversations!
