#footer
    .inner
        =image_tag("logoQ.png", :class => "logo")
        .cadre
            .col
                %h3 A propos
                %br
                %a{:href => pages_path('team')}
                    L'équipe
                %a{:href => pages_path('jobs')}
                    Job & stage
                %a{:href => pages_path('presse')}
                    Espace presse
                -#%a{:href => "#"}
                -#    Blog
            .col
                %h3 Infos Pratiques
                %br
                %a{:href => become_teacher_path(:general_infos), data: {turbolinks: false}}
                    Devenir prof
                %a{:href =>pages_path('comment-ca-marche')}
                    Comment ça marche
                %a{:href => faq_path}
                    Aide/FAQ
                %a{:href => demo_room_path, :data => {:turbolinks => false}, :target => '_blank'}
                    Classe de démo
                %a{:href => faq_path('parents', 'paiements')}
                    Paiement sécurisé
            .col
                %h3 Infos Pratiques
                %br
                = link_to t('contacts'), new_contact_path
                %p 
                    02 345 48 37
                    %br
                    lu-ve : 10h-19h
                %a.text-green.open-tawk{:href => "#"}
                    Ouvrir le chat
            .col.social_block
                %h3 Une question ? 
                %br
                %a.social{:href => "https://facebook.com/qwerteach", :target => "_blank"}
                    =image_tag("facebook.png")
                %a.social{:href => "https://twitter.com/qwerteach", :target => "_blank"}
                    =image_tag("twitter.png")
                %a.social{:href => "https://plus.google.com/+Qwerteach", :target => "_blank"}
                    =image_tag("googleplus.png")
            .copyright
                %p © 2013 Qwerteach • #{link_to "Conditions d'utilisation", pages_path('conditions-generales'), style: 'display:inline-block'}
            #notification_sound_path.hidden= asset_path('blop.mp3')

- if current_user
    :javascript
        PrivatePub.subscribe("/notifications/#{current_user.id}", function(data, channel) {
            Notifications.numberOfUnreadNotifications();
        });
        PrivatePub.subscribe("/chat/#{current_user.id}", function(data, channel) {
            Messages.numberOfUnreadMessages();
            Messages.sound.play();
        });